<section class="bg-primary my-8 rounded-lg p-5 pb-8">
  @if (isLoading()) {
    <mat-spinner class="float-right" [diameter]="24"> </mat-spinner>
  }
  <h2>Statistics</h2>
  <div
    class="flex grid grid-cols-1 justify-center gap-4 sm:grid-cols-2 md:gap-x-[6%] md:gap-y-8 md:px-4 lg:grid-cols-4 lg:gap-x-[2%] lg:gap-y-0 lg:px-1 xl:gap-x-[4%] xl:px-8 2xl:gap-x-[8%] 2xl:px-16"
  >
    <mat-card appearance="outlined" class="card-primary min-h-56 p-4 text-white"
      ><mat-card-title class="text-center"
        ><span class="text-3xl"
          ><mat-icon inline class="rounded-full border-4 border-white px-1"
            >database</mat-icon
          ></span
        ><br />Total datasets:</mat-card-title
      ><mat-card-content class="mt-4 text-2xl"
        ><div class="text-center">
          @if (isLoading()) {
            <app-stencil />
          } @else {
            {{ datasets().count }}
          }
        </div></mat-card-content
      ></mat-card
    >
    <mat-card appearance="outlined" class="text-primary min-h-56 p-4"
      ><mat-card-title class="text-tertiary text-center"
        ><span class="text-3xl"
          ><mat-icon inline class="border-tertiary rounded-full border-4 px-1"
            >genetics</mat-icon
          ></span
        ><br />Platforms:
        @if (isLoading()) {
          <app-stencil class="inline-flex w-10" />
        } @else {
          {{ platforms().count }}
        }</mat-card-title
      ><mat-card-content class="mt-4 text-sm">
        <table class="mx-auto w-auto">
          <tbody>
            @if (isLoading()) {
              @for (i of [1, 2, 3]; track i) {
                <tr>
                  <td class="pe-2 text-right font-bold">
                    <app-stencil class="inline-flex w-10" />
                  </td>
                  <td class="text-left uppercase">
                    <app-stencil class="inline-flex w-16" />
                  </td>
                </tr>
              }
            } @else {
              @for (
                platform of platforms().stats?.instrument_model ?? [];
                track platform.value
              ) {
                <tr>
                  <td class="pe-2 text-right font-bold">{{ platform.count }}</td>
                  <td class="text-left uppercase">
                    {{ platform.value | underscoreToSpace }}
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      </mat-card-content></mat-card
    >
    <mat-card appearance="outlined" class="card-primary min-h-56 p-4 text-white"
      ><mat-card-title class="text-center"
        ><span class="text-3xl"
          ><mat-icon inline class="rounded-full border-4 border-white px-1"
            >person</mat-icon
          ></span
        ><br />Individuals:
        @if (isLoading()) {
          <app-stencil class="inline-flex w-10" />
        } @else {
          {{ individuals().count }}
        }</mat-card-title
      ><mat-card-content class="mt-4 text-sm">
        <table class="mx-auto w-auto">
          <tbody>
            @if (isLoading()) {
              @for (i of [1, 2, 3]; track i) {
                <tr>
                  <td class="pe-2">
                    <app-stencil class="inline-flex w-10" />
                  </td>
                  <td>
                    <app-stencil class="inline-flex w-16" />
                  </td>
                </tr>
              }
            } @else {
              @for (sex of individuals().stats?.sex ?? []; track sex.value) {
                <tr>
                  <td class="pe-2 text-right font-bold">{{ sex.count }}</td>
                  <td class="text-left">
                    {{ sex.value }}
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      </mat-card-content></mat-card
    >
    <mat-card appearance="outlined" class="text-primary min-h-56 p-4"
      ><mat-card-title class="text-tertiary text-center"
        ><span class="text-3xl"
          ><mat-icon inline class="border-tertiary rounded-full border-4 px-1"
            >description</mat-icon
          ></span
        ><br />Files:
        @if (isLoading()) {
          <app-stencil class="inline-flex w-10" />
        } @else {
          {{ files().count }}
        }</mat-card-title
      ><mat-card-content class="mt-4 text-sm">
        <table class="mx-auto w-auto">
          <tbody>
            @if (isLoading()) {
              @for (i of [1, 2, 3]; track i) {
                <tr>
                  <td class="pe-2 text-right font-bold">
                    <app-stencil class="inline-flex w-10" />
                  </td>
                  <td class="text-left uppercase">
                    <app-stencil class="inline-flex w-16" />
                  </td>
                </tr>
              }
            } @else {
              @for (format of files().stats?.format ?? []; track format.value) {
                <tr>
                  <td class="pe-2 text-right font-bold">{{ format.count }}</td>
                  <td class="text-left uppercase">
                    {{ format.value }}
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      </mat-card-content></mat-card
    >
  </div>
</section>
