<mat-card appearance="outlined" class="max-w-lg">
  <mat-card-content>
    <div class="flex gap-4">
      <div>
        <mat-icon aria-label="Filter" class="large-icon">filter_alt</mat-icon>
      </div>
      <div class="flex grow flex-col gap-2">
        <div class="flex gap-2">
          <mat-form-field class="grow">
            <mat-label>User name</mat-label>
            <input matInput [(ngModel)]="name" />
            <mat-hint>You can also filter with partial names</mat-hint>
          </mat-form-field>
          <button
            mat-icon-button
            aria-label="Remove filter for user name"
            [class.invisible]="!this.name()"
            (click)="this.name.set('')"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <div class="flex gap-2">
          <mat-form-field class="grow">
            <mat-label>Changed dates ranging from</mat-label>
            <input matInput [matDatepicker]="fromPicker" [(ngModel)]="fromDate" />
            <mat-hint>{{ dateInputFormatHint }}</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="fromPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromPicker></mat-datepicker>
          </mat-form-field>
          <button
            mat-icon-button
            aria-label="Remove filter for dates ranging from"
            [class.invisible]="!this.fromDate()"
            (click)="this.fromDate.set(undefined)"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <div class="flex gap-2">
          <mat-form-field class="grow">
            <mat-label>Changed dates ranging to</mat-label>
            <input matInput [matDatepicker]="toPicker" [(ngModel)]="toDate" />
            <mat-hint>{{ dateInputFormatHint }}</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="toPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #toPicker></mat-datepicker>
          </mat-form-field>
          <button
            mat-icon-button
            aria-label="Remove filter for dates ranging from"
            [class.invisible]="!this.toDate()"
            (click)="this.toDate.set(undefined)"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <div class="flex gap-2">
          <mat-form-field class="grow">
            <mat-label>
              @if (state()) {
                Status value
              } @else {
                All status values
              }
            </mat-label>
            <mat-select [(ngModel)]="state">
              @for (opt of stateOptions; track opt) {
                <mat-option [value]="opt.value">{{ opt.text }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <button
            mat-icon-button
            aria-label="Remove filter for status"
            [class.invisible]="!this.state()"
            (click)="this.state.set(undefined)"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
