<div class="col-span-12 lg:hidden">
  <button
    mat-stroked-button
    class="button-primary w-full font-bold"
    (click)="displayFilters = !displayFilters"
  >
    <mat-icon fontIcon="filter_alt"></mat-icon>
    @if (displayFilters) {
      Close filters
    } @else {
      Filter access requests
    }
  </button>
</div>
<aside [class.hidden]="!displayFilters" class="mt-4 lg:block">
  <mat-card appearance="outlined" class="max-w-[1800px] overflow-x-auto">
    <mat-card-content class="min-w-sm">
      <div class="flex gap-4">
        <div class="hidden sm:block">
          <mat-icon
            aria-label="Filter"
            class="large-icon"
            fontIcon="filter_alt"
          ></mat-icon>
        </div>
        <div
          class="grid flex-grow grid-cols-1 gap-2 gap-x-8 lg:grid-cols-2 2xl:grid-cols-4"
        >
          <div class="flex grow flex-col gap-2">
            <div class="flex items-baseline gap-2">
              <mat-form-field class="grow">
                <mat-label>Ticket ID</mat-label>
                <input matInput type="text" [formField]="filterForm.ticketId" />
              </mat-form-field>
              <button
                mat-icon-button
                aria-label="Remove filter for ticket ID"
                [class.invisible]="!filterForm.ticketId().value()"
                (click)="filterForm.ticketId().value.set('')"
                data-umami-event="Access Request Filters Ticket ID Clear Clicked"
              >
                <mat-icon fontIcon="cancel"></mat-icon>
              </button>
            </div>
            <div class="flex items-baseline gap-2">
              <mat-form-field class="grow">
                <mat-label>Dataset title or ID</mat-label>
                <input matInput type="text" [formField]="filterForm.dataset" />
              </mat-form-field>
              <button
                mat-icon-button
                aria-label="Remove filter for dataset"
                [class.invisible]="!filterForm.dataset().value()"
                (click)="filterForm.dataset().value.set('')"
                data-umami-event="Access Request Filters Dataset Clear Clicked"
              >
                <mat-icon fontIcon="cancel"></mat-icon>
              </button>
            </div>
          </div>
          <div class="flex grow flex-col gap-2">
            <div class="flex items-baseline gap-2">
              <mat-form-field class="grow">
                <mat-label>Name or email of requester</mat-label>
                <input matInput type="text" [formField]="filterForm.name" />
                <mat-hint>You can also filter with partial names</mat-hint>
              </mat-form-field>
              <button
                mat-icon-button
                aria-label="Remove filter for user name"
                [class.invisible]="!filterForm.name().value()"
                (click)="filterForm.name().value.set('')"
                data-umami-event="Access Request Filters User Name Clear Clicked"
              >
                <mat-icon fontIcon="cancel"></mat-icon>
              </button>
            </div>
            <div class="flex items-baseline gap-2">
              <mat-form-field class="grow">
                <mat-label>Name or email of DAC</mat-label>
                <input matInput type="text" [formField]="filterForm.dac" />
              </mat-form-field>
              <button
                mat-icon-button
                aria-label="Remove filter for data access committee"
                [class.invisible]="!filterForm.dac().value()"
                (click)="filterForm.dac().value.set('')"
                data-umami-event="Access Request Filters DAC Clear Clicked"
              >
                <mat-icon fontIcon="cancel"></mat-icon>
              </button>
            </div>
          </div>
          <div class="flex grow flex-col gap-2">
            <div class="flex items-baseline gap-2">
              <mat-form-field class="grow">
                <mat-label>Resolution</mat-label>
                <mat-select [formField]="filterForm.status">
                  <mat-option value="">All resolutions</mat-option>
                  @for (opt of statusOptions; track opt) {
                    <mat-option [value]="opt.value">{{
                      opt.text | CapitalisePipe
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <button
                mat-icon-button
                aria-label="Remove filter for resolution"
                [class.invisible]="!filterForm.status().value()"
                (click)="filterForm.status().value.set('')"
                data-umami-event="Access Request Filters Status Clear Clicked"
              >
                <mat-icon fontIcon="cancel"></mat-icon>
              </button>
            </div>
            <div class="flex items-baseline gap-2">
              <mat-form-field class="grow">
                <mat-label>Request creation date from</mat-label>
                <input
                  matInput
                  type="text"
                  [matDatepicker]="fromPicker"
                  [formField]="filterForm.fromDate"
                />
                <mat-hint>{{ dateInputFormatHint }}</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="fromPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
              </mat-form-field>
              <button
                mat-icon-button
                aria-label="Remove filter for dates ranging from"
                [class.invisible]="!filterForm.fromDate().value()"
                (click)="filterForm.fromDate().value.set(null)"
                data-umami-event="AR Filters Request Created From Clear Clicked"
              >
                <mat-icon fontIcon="cancel"></mat-icon>
              </button>
            </div>
            <div class="flex items-baseline gap-2">
              <mat-form-field class="grow">
                <mat-label>Request creation date until</mat-label>
                <input
                  matInput
                  type="text"
                  [matDatepicker]="toPicker"
                  [formField]="filterForm.toDate"
                />
                <mat-hint>{{ dateInputFormatHint }}</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="toPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
              </mat-form-field>
              <button
                mat-icon-button
                aria-label="Remove filter for dates ranging to"
                [class.invisible]="!filterForm.toDate().value()"
                (click)="filterForm.toDate().value.set(null)"
                data-umami-event="AR Filters Request Created Until Clear Clicked"
              >
                <mat-icon fontIcon="cancel"></mat-icon>
              </button>
            </div>
          </div>
          <div class="flex grow flex-col gap-2">
            <div class="flex items-baseline gap-2">
              <mat-form-field class="grow">
                <mat-label>Request details</mat-label>
                <input matInput type="text" [formField]="filterForm.requestText" />
              </mat-form-field>
              <button
                mat-icon-button
                aria-label="Remove filter for the request details"
                [class.invisible]="!filterForm.requestText().value()"
                (click)="filterForm.requestText().value.set('')"
                data-umami-event="Access Request Filters Request Text Clear Clicked"
              >
                <mat-icon fontIcon="cancel"></mat-icon>
              </button>
            </div>
            <div class="flex items-baseline gap-2">
              <mat-form-field class="grow">
                <mat-label>Note to requester</mat-label>
                <input matInput type="text" [formField]="filterForm.noteToRequester" />
              </mat-form-field>
              <button
                mat-icon-button
                aria-label="Remove filter for the note to requester"
                [class.invisible]="!filterForm.noteToRequester().value()"
                (click)="filterForm.noteToRequester().value.set('')"
                data-umami-event="AR Filters Note To Requester Clear Clicked"
              >
                <mat-icon fontIcon="cancel"></mat-icon>
              </button>
            </div>
            <div class="flex items-baseline gap-2">
              <mat-form-field class="grow">
                <mat-label>Internal note</mat-label>
                <input matInput type="text" [formField]="filterForm.internalNote" />
              </mat-form-field>
              <button
                mat-icon-button
                aria-label="Remove filter for internal note"
                [class.invisible]="!filterForm.internalNote().value()"
                (click)="filterForm.internalNote().value.set('')"
                data-umami-event="Access Request Filters Internal Note Clear Clicked"
              >
                <mat-icon fontIcon="cancel"></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</aside>
