aside.version-ribbon {
  background-color: #b11;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  height: 30px;
  width: 260px;
  left: -50px;
  top: 65px;
  transform: rotate(-45deg);
  box-shadow: 0 0 10px #888;
  z-index: 999;

  span {
    display: inline-block;
    color: #fee;
    font-weight: bold;
    width: 200px;
    margin: 1px 30px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    text-shadow: 0 0 5px #444;
    text-size-adjust: none;
    cursor: pointer;
  }
}
