<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
@if (text()) {
  <aside
    class="absolute top-20 -left-17.5 z-999 flex h-11 w-75 -translate-y-1/2 -rotate-45 cursor-pointer flex-col justify-center overflow-hidden bg-red-700 text-center whitespace-nowrap text-white shadow-lg/50 text-shadow-lg/30"
    (click)="click()"
  >
    <span class="block font-bold">{{ lines().main }}</span>
    @if (lines().build) {
      <span class="block text-xs">{{ lines().build }}</span>
    }
  </aside>
}
