<nav class="bg-primary mt-2 w-full text-white" color="primary">
  <div
    class="flex flex-col-reverse flex-wrap justify-around pb-5 no-underline xl:flex-row xl:divide-x xl:pt-2"
  >
    <a
      mat-ripple
      routerLink="/"
      class="grow basis-full content-center py-8 xl:mt-0 xl:basis-auto xl:py-0"
      data-umami-event="Site Footer Home Clicked"
      ><div class="flex w-full justify-center">
        <img src="assets/images/ghga-logo.png" alt="GHGA Logo" class="max-h-12" />
      </div>
      <div class="flex w-full justify-center">
        <div
          class="border-quinary text-quinary mt-3 w-fit border-t pt-1.5 text-center text-4xl uppercase"
        >
          Data Portal
        </div>
      </div></a
    >
    <div
      class="grid basis-full grid-cols-1 divide-y sm:grid-cols-2 md:grid-cols-4 md:divide-x md:divide-y-0 xl:basis-3/4"
    >
      <a
        mat-ripple
        target="_blank"
        rel="noreferrer noopener"
        href="https://ghga.de"
        class="grow basis-0 content-start py-8 text-center sm:border-r-1 sm:py-6 md:py-4"
        data-umami-event="Site Footer Open GHGA Clicked"
        ><span class="block text-7xl"><mat-icon inline="true">globe</mat-icon></span
        >GHGA Website<mat-icon>open_in_new</mat-icon></a
      ><a
        mat-ripple
        routerLink="/browse"
        class="grow basis-0 content-start py-8 text-center sm:py-6 md:py-4"
        data-umami-event="Site Footer Browse Clicked"
        ><span class="block text-7xl"><mat-icon inline="true">database</mat-icon></span
        ><span class="mt-1.5 block">Browse Data</span></a
      ><a
        mat-ripple
        target="_blank"
        rel="noreferrer noopener"
        href="https://docs.ghga.de/faq/"
        class="grow basis-0 content-start py-8 text-center sm:border-r-1 sm:py-6 md:py-4"
        data-umami-event="Site Footer Open FAQ Clicked"
        ><span class="block text-7xl"><mat-icon inline="true">help</mat-icon></span
        >FAQ<mat-icon>open_in_new</mat-icon></a
      ><a
        mat-ripple
        target="_blank"
        rel="noreferrer noopener"
        href="https://docs.ghga.de/"
        class="grow basis-0 content-start border-b-1 py-8 text-center sm:py-4 md:border-b-0"
        data-umami-event="Site Footer Open Documentation Clicked"
        ><span class="block text-7xl"><mat-icon inline="true">docs</mat-icon></span
        >GHGA User<br />Documentation<mat-icon>open_in_new</mat-icon></a
      >
    </div>
  </div>
  <div class="swirl"></div>
</nav>
<div
  class="icons-div mb-2 flex w-full flex-wrap justify-center text-center text-4xl no-underline"
>
  <a
    class="text-outline-material ms-2 me-1.5"
    target="_blank"
    rel="noreferrer noopener"
    href="https://genomic.social/@ghga"
    data-umami-event="Site Footer Mastodon Clicked"
    ><mat-icon inline="true" fontSet="fab" fontIcon="fa-mastodon"></mat-icon
  ></a>
  <a
    class="text-outline-material ms-2 me-1.5"
    target="_blank"
    rel="noreferrer noopener"
    href="https://www.linkedin.com/company/the-german-human-genome-phenome-archive/"
    data-umami-event="Site Footer LinkedIn Clicked"
    ><mat-icon inline="true" fontSet="fab" fontIcon="fa-linkedin"></mat-icon
  ></a>
  <a
    class="text-outline-material ms-2 me-1.5"
    target="_blank"
    rel="noreferrer noopener"
    href="https://bsky.app/profile/ghga.bsky.social"
    data-umami-event="Site Footer Bluesky Clicked"
  >
    <mat-icon inline="true" fontSet="fab" fontIcon="fa-bluesky"></mat-icon
  ></a>
  <a
    class="text-outline-material ms-2 me-1.5"
    target="_blank"
    rel="noreferrer noopener"
    href="https://github.com/ghga-de"
    data-umami-event="Site Footer GitHub Clicked"
    ><mat-icon inline="true" fontSet="fab" fontIcon="fa-github"></mat-icon
  ></a>
  <a
    class="text-outline-material ms-2 me-1.5"
    target="_blank"
    rel="noreferrer noopener"
    href="https://www.youtube.com/channel/UC7Yqi4gBl86drcUxwwEe6EA"
    data-umami-event="Site Footer YouTube Clicked"
    ><mat-icon inline="true" fontSet="fab" fontIcon="fa-youtube"></mat-icon
  ></a>
  <a
    class="text-outline-material ms-2 me-1.5"
    target="_blank"
    rel="noreferrer noopener"
    href="https://www.ghga.de/about-us/contact"
    data-umami-event="Site Footer Contact Clicked"
    ><mat-icon inline="true">email</mat-icon></a
  >
</div>
<div class="w-full pb-4 text-sm">
  <p class="text-center">©{{ date | date: 'yyyy' }} GHGA. All Rights Reserved.</p>
  <p class="text-center">
    <a
      href="https://www.ghga.de/imprint"
      class="underline"
      data-umami-event="Site Footer Imprint Clicked"
      >Imprint</a
    >
    |
    <a
      href="https://www.ghga.de/data-protection"
      class="underline"
      data-umami-event="Site Footer Data Protection Clicked"
      >Data Protection</a
    >
    |
    <a
      href="https://zenodo.org/records/11146387"
      class="underline"
      data-umami-event="Site Footer Terms of Use Clicked"
      >Terms of Use</a
    >
  </p>
</div>
