nav div.swirl {
  height: 70px;
  background: var(--svg-encoded);
  background-size: 100% 100%;
  background-repeat: no-repeat no-repeat;
  background-position: center bottom;
}

nav a[appExtLink]:not(.mdc-button)::after {
  scale: 0.6;
  transform: translateY(10px);
  margin: 0 -10px 0 -2px;
}
