<nav class="mb-5 mt-2 flex h-24 justify-between p-2 no-underline" color="primary">
  <a routerLink="/" class="content-center">GHGA Data Portal Logo</a
  ><a href="https://ghga.de" class="content-center">GHGA Website</a
  ><a routerLink="/browse" class="content-center">Browse Data</a
  ><a href="https://docs.ghga.de/faq/" class="content-center">FAQ</a
  ><a href="https://docs.ghga.de/" class="content-center">GHGA User Documentaton</a>
</nav>
<div class="mb-2 flex justify-center no-underline">
  <a href="https://genomic.social/@ghga" class="mx-1">Mastodon</a>
  <a
    href="https://www.linkedin.com/company/the-german-human-genome-phenome-archive/"
    class="mx-1"
    >LinkedIn</a
  >
  <a href="https://bsky.app/profile/ghga.bsky.social" class="mx-1">BlueSky</a>
  <a href="https://github.com/ghga-de" class="mx-1">GitHub</a>
  <a href="https://www.youtube.com/channel/UC7Yqi4gBl86drcUxwwEe6EA" class="mx-1"
    >YouTube</a
  >
  <a href="https://www.ghga.de/about-us/contact" class="mx-1">Contact</a>
</div>
<p class="text-center">©{{ year }} GHGA. All Rights Reserved.</p>
<p class="text-center">
  <a href="https://www.ghga.de/imprint" class="underline">Imprint</a> |
  <a href="https://www.ghga.de/data-protection" class="underline">Data Protection</a>
  |
  <a href="https://zenodo.org/records/11146387" class="underline">Terms of Use</a>
</p>
