button.activePage {
  background-color: var(--mat-sys-tertiary);
}

button.activePage mat-icon {
  margin-right: -4px;
}

a.activeSubPage {
  background-color: var(--mat-sys-tertiary-fixed-dim);
}

a.flex-row-reverse mat-icon {
  scale: 0.8;
  margin: 0 -5px 0 0;
}
