@if (showAsTable) {
  @if (showNoteToRequester()) {
    <tr>
      <th class="pe-1 text-start">Note:</th>
      <td>{{ request.note_to_requester }}</td>
    </tr>
  }
  @if (showInternalNote()) {
    <tr>
      <th class="pe-1 text-start">Internal note:</th>
      <td>{{ request.internal_note }}</td>
    </tr>
  }
} @else {
  @if (showNoteToRequester()) {
    <p><span class="font-bold">Note: </span>{{ request.note_to_requester }}</p>
  }
  @if (showInternalNote()) {
    <p><span class="font-bold">Internal note: </span>{{ request.internal_note }}</p>
  }
}
