<h1 mat-dialog-title>Add contact address</h1>
<div mat-dialog-content cdkTrapFocus>
  <form defaultButton="submit-code" (ngSubmit)="onSubmit()" #form="ngForm">
    <p class="mb-3">Please select one of the following contact address types:</p>
    <div class="text-center">
      <mat-button-toggle-group
        aria-label="Contact address type"
        [(ngModel)]="type"
        name="type"
        (change)="onTypeChange()"
      >
        @for (type of types; track type) {
          <mat-button-toggle [value]="type.value" class="px-0 sm:px-3.5">{{
            type.text
          }}</mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>
    @if (type) {
      <p class="mt-5">{{ valuePrompt }}</p>
      <mat-form-field class="w-full">
        <input
          matInput
          [type]="type === 'Phone' || type === 'Fax' ? 'tel' : 'text'"
          [autocomplete]="
            type === 'Phone' ? 'mobile tel' : type === 'Fax' ? 'fax' : 'street-address'
          "
          [(ngModel)]="value"
          name="value"
          cdkFocusInitial
          maxlength="500"
          #valueField
          required
        />
      </mat-form-field>
    }

    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()" data-umami-event="New IVA Cancel Clicked">
        Cancel
      </button>
      <button
        id="submit-code"
        mat-raised-button
        [disabled]="!type || !value"
        (click)="onSubmit()"
        data-umami-event="New IVA Submit Clicked"
      >
        Submit
      </button>
    </div>
  </form>
</div>
