@let columns = ['dataset', 'user', 'status', 'period', 'details'];
<div class="overflow-auto">
  <table
    mat-table
    [dataSource]="source"
    class="mat-elevation-z8"
    matSort
    #sort="matSort"
  >
    <ng-container matColumnDef="dataset">
      <th mat-header-cell *matHeaderCellDef class="w-64" mat-sort-header>Dataset ID</th>
      <td mat-cell *matCellDef="let ag">
        {{ ag.dataset_id }}
      </td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef class="min-w-32" mat-sort-header>
        Grantee
      </th>
      <td mat-cell *matCellDef="let ag">{{ ag.user_name }} ({{ ag.user_email }})</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="min-w-32 capitalize" mat-sort-header>
        Status
      </th>
      <td
        mat-cell
        class="{{ ag.status | AccessRequestStatusClassPipe }} capitalize w-24"
        *matCellDef="let ag"
      >
        {{ ag.status }}
      </td>
    </ng-container>
    <ng-container matColumnDef="period">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-64">
        Validity Period
      </th>
      <td mat-cell *matCellDef="let ag">
        {{ ag.valid_from | date: periodFormat : periodTimeZone }} to
        {{ ag.valid_until | date: periodFormat : periodTimeZone }}
      </td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Details</th>
      <td mat-cell *matCellDef="let ag">&gt;</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columns"
      class="duration-200 hover:cursor-pointer hover:bg-black/[0.05] hover:transition"
      (click)="openDetails(row)"
    ></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell p-4 text-base" colspan="6">
        No access grants found. Try removing some filter conditions.
      </td>
    </tr>
  </table>
</div>

@if (accessGrants().length > 10) {
  <mat-paginator
    [pageSize]="defaultTablePageSize"
    [pageSizeOptions]="tablePageSizeOptions"
    showFirstLastButtons
    class="sticky left-0"
    itemsPerPageLabel="Access grants per page"
    aria-label="Select page of access grants"
    #paginator
  >
  </mat-paginator>
}
