@let columns = ['dataset', 'user', 'status', 'period', 'details'];
<div class="overflow-auto">
  <table
    mat-table
    [dataSource]="source"
    class="mat-elevation-z8"
    matSort
    #sort="matSort"
  >
    <ng-container matColumnDef="dataset">
      <th mat-header-cell *matHeaderCellDef class="min-w-64" mat-sort-header>
        Dataset ID
      </th>
      <td mat-cell *matCellDef="let ag">
        <a [routerLink]="'/dataset/' + ag.dataset_id">{{ ag.dataset_id }}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef class="min-w-32" mat-sort-header>
        Grantee
      </th>
      <td mat-cell *matCellDef="let ag">
        <a [routerLink]="'/user-manager/' + ag.user_id"
          >{{ ag.user_name }} ({{ ag.user_email }})</a
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="min-w-32 capitalize" mat-sort-header>
        Status
      </th>
      <td
        mat-cell
        class="{{ ag.status | AccessGrantStatusClassPipe }} capitalize"
        *matCellDef="let ag"
      >
        {{ ag.status }}
      </td>
    </ng-container>
    <ng-container matColumnDef="period">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="min-w-64">
        Validity Period
      </th>
      <td mat-cell *matCellDef="let ag">
        {{ ag.valid_from | date: periodFormat : periodTimeZone }} to
        {{ ag.valid_until | date: periodFormat : periodTimeZone }}
      </td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef class="w-24">Details</th>
      <td mat-cell *matCellDef="let ag">
        <button
          mat-icon-button
          (click)="viewDetails($event, ag); $event.stopPropagation()"
          aria-label="View user details"
          class="text-primary"
        >
          <mat-icon fontIcon="chevron_right"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columns"
      class="hover:cursor-pointer"
      (click)="viewDetails($event, row)"
    ></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell p-4 text-base" colspan="6">
        No access grants found. Try removing some filter conditions.
      </td>
    </tr>
  </table>
</div>

@if (accessGrants().length > 10) {
  <mat-paginator
    [pageSize]="defaultTablePageSize"
    [pageSizeOptions]="tablePageSizeOptions"
    showFirstLastButtons
    class="sticky left-0"
    itemsPerPageLabel="Access grants per page"
    aria-label="Select page of access grants"
    #paginator
  >
  </mat-paginator>
}
