@use '@angular/material' as mat;

table {
  @include mat.table-overrides(
    (
      header-headline-size: var(--mat-sys-title-medium-size),
      row-item-label-text-size: var(--mat-sys-body-large-size),
    )
  );
}

tr.cdk-row:hover,
tr.cdk-row:active {
  background-color: color-mix(in srgb, #fff 0%, #000 8%);
}

tr.cdk-row:focus {
  background-color: color-mix(in srgb, #fff 0%, #000 12%);
}
