@if (hasError()) {
  <p class="text-base">There was an error retrieving your pending access requests.</p>
} @else {
  @if (isLoading()) {
    <app-stencil></app-stencil>
  } @else {
    @let req = pendingRequests();
    @if (req.length === 0) {
      <p class="text-base">You do not yet have pending access requests.</p>
    } @else {
      <p class="text-base">You have the following pending access requests:</p>
      <ul>
        @for (request of req; track request.id) {
          <li>
            For the dataset
            <a routerLink="/dataset/{{ request.dataset_id }}">{{
              request.dataset_id
            }}</a>
            from {{ request.access_starts | date }} to {{ request.access_ends | date }}.
          </li>
        }
      </ul>
    }
  }
}
