<h1>Download or upload datasets</h1>
@if (tokenIsLoading()) {
  <p>Creating your {{ tokenAction() }} token...</p>
} @else if (tokenError()) {
  <p class="font-bold text-red-600">
    {{ tokenError() }}
  </p>
  <p>
    Please <a routerLink="." (click)="reset()">try again</a> later or
    <a
      href="https://www.ghga.de/about-us/contact"
      data-umami-event="Work Package Contact Us Clicked"
      >contact us</a
    >
    for support.
  </p>
} @else if (token()) {
  <p class="font-bold text-green-600">
    Your {{ tokenAction() }} token has been created.
  </p>
  <mat-card appearance="raised" class="mb-4">
    <mat-card-content>
      <button
        mat-fab
        color="primary"
        class="float-right ml-4"
        (click)="copyToken()"
        title="Copy token to clipboard"
        data-umami-event="Work Package Copy Token Clicked"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
      <p>Please use the following token to {{ tokenAction() }} the selected dataset:</p>
      <pre class="mb-3 overflow-auto text-base whitespace-pre-wrap text-green-900">{{
        token()
      }}</pre>
      <p>Make sure to copy the token now as you will not be able to see this again!</p>
    </mat-card-content>
  </mat-card>
  <button
    mat-raised-button
    color="primary"
    class="mt-4 mb-4"
    (click)="reset()"
    data-umami-event="Work Package Reset Clicked"
  >
    <mat-icon>add</mat-icon> Generate another access token
  </button>
} @else {
  <p>
    To download or upload datasets, you need to use the GHGA connector with a token that
    allows downloading or uploading the files of a dataset for which you have
    corresponding permissions.
  </p>
  @if (datasets.isLoading()) {
    <p>Loading your datasets...</p>
  } @else if (datasets.error()) {
    <mat-card appearance="outlined" class="error">
      <mat-card-content>Cannot load datasets. Please try again later.</mat-card-content>
    </mat-card>
  } @else if (!datasets.value().length) {
    <mat-card appearance="outlined" class="error">
      <mat-card-content
        >You currently cannot download or upload any datasets.</mat-card-content
      >
    </mat-card>
  } @else {
    <p>As the first step, please select one of your available dataset:</p>

    <div class="mb-4">
      <mat-form-field class="container max-w-lg">
        <mat-label>Available datasets</mat-label>
        <mat-select (selectionChange)="selectDataset($event.value)">
          @for (dataset of datasets.value(); track dataset) {
            <mat-option [value]="dataset.id"
              >{{ dataset.id }}: {{ dataset.title }}</mat-option
            >
          }
        </mat-select>
      </mat-form-field>
    </div>
  }
  @let dataset = selectedDataset();
  @if (dataset) {
    <p>{{ dataset.description }}</p>
    <p>
      This dataset has been selected for <strong>{{ dataset.stage }}.</strong>
    </p>
    @if (dataset.stage !== 'download') {
      <p class="font-bold text-red-600">Currently we only support download tokens.</p>
    }

    <div class="mt-4 flex flex-col">
      <mat-form-field class="container max-w-5xl">
        <mat-label>File IDs</mat-label>
        <textarea
          matInput
          placeholder="file-id-1, file-id-2, ..."
          [(ngModel)]="files"
        ></textarea>
        <mat-hint class="-mt-2 mb-4">
          <p>
            You can restrict the download to certain files only. To do so, enter the
            desired file IDs above, separated by whitespace or commas.
          </p>
          <p>
            Otherwise, leave the field above empty in order to download all files
            belonging to the dataset.
          </p>
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="container max-w-5xl">
        <mat-label>Your public Crypt4GH key</mat-label>
        <input matInput [(ngModel)]="pubKey" (input)="checkPubKey()" />
        <mat-hint class="-mt-2 mb-4">
          <p>
            Please enter your public Crypt4GH key (in Base64 encoded format) above, so
            that we can encrypt your data.
          </p>
          <p>
            Otherwise, leave the field above empty in order to download all files
            belonging to the dataset.
          </p>
          @if (pubKey() && pubKeyError()) {
            <mat-error class="-mt-4 mb-4"
              ><p>{{ pubKeyError() }}</p></mat-error
            >
          }
        </mat-hint>
      </mat-form-field>
    </div>
    @if (pubKey() && !pubKeyError()) {
      <button
        mat-raised-button
        color="primary"
        class="mt-4 mb-4"
        (click)="submit()"
        data-umami-event="Work Package Submit Clicked"
      >
        <mat-icon>{{ dataset.stage }}</mat-icon> Generate an access token for
        {{ dataset.stage }}
      </button>
    }
  }
}
