# All your requirements go here. Please adapt as needed:

ghga-service-commons[auth,crypt]==0.4.3
ghga-event-schemas==0.13.3
ghga-connector==0.3.11
ghga-datasteward-kit==0.4.7
hexkit[test-all]==0.10.2

crypt4gh==1.6

pytest==7.2.2
pytest-asyncio==0.21.0
pytest-bdd==6.1.1
pytest-cov==4.0.0

click==8.1.3
typer==0.7.0

httpx==0.23.3
