# All your requirements go here. Please adapt as needed:

ghga-connector==3.0.1
ghga-datasteward-kit==5.4.1
metldata >=4.2,<5

ghga-event-schemas>=13,<14
ghga-service-commons[auth,crypt]>=7,<8
hexkit[all]>=8,<9
openpyxl >= 3.1,<4

crypt4gh>=1.8,<2

# pytest-bdd currently does not work properly with pytest >= 8
# therefore we need to pin pytest to an older version until this is fixed
# see https://github.com/pytest-dev/pytest-bdd/issues/689
pytest>=9.0.3,<10
pytest-asyncio>=1,<2
pytest-bdd>=8.1,<9
pytest-cov>=7,<8
pyotp>=2.9,<3

click>=8.2,<9
typer>=0.26
httpx>=0.28,<0.29

hvac>=2.2,<3

#playwright
playwright>=1.6,<2
pytest-html>=4.2,<5
pytest-xdist>=3.8,<4
