<h1>Registration with GHGA</h1>
@let u = user();
@switch (u) {
  @case (undefined) {
    <p>Loading...</p>
  }
  @case (null) {
    <p>You are currently not logged in.</p>
    <a
      mat-raised-button
      routerLink="/"
      data-umami-event="Register Return To Home Clicked"
      >Return to the home page</a
    >
  }
  @default {
    <h2>Welcome, {{ u.full_name }}!</h2>
    <p>
      @if (u.id) {
        @if (u.state === 'NeedsReRegistration') {
          Your contact information has changed since you last registered.
        }
        Please confirm that the information given below is correct.
      } @else {
        Since you haven't used our data portal before, we ask you to confirm your user
        data and register with us.
      }
    </p>
    <p>
      <span class="me-2 inline-block font-bold md:min-w-44">Name:</span>
      <span>{{ u.name }}</span>
    </p>
    <p>
      <span class="me-2 inline-block font-bold md:min-w-44">E-Mail:</span>
      <span>{{ u.email }}</span>
    </p>
    <p>
      <span class="me-2 inline-block font-bold md:min-w-44">Life Science ID:</span>
      <span class="break-all">{{ u.ext_id }}</span>
    </p>
    <p class="mb-0">
      <span class="me-2 inline-block font-bold md:min-w-44">Academic title:</span>
      <mat-form-field>
        <mat-select [formControl]="titleControl">
          @for (title of allTitles; track title) {
            <mat-option [value]="title || ''">{{ title || '–' }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </p>
    <p class="mb-4">
      <mat-checkbox [(ngModel)]="accepted">
        I accept the
        <a
          href="https://zenodo.org/records/11146387"
          target="_blank"
          rel="noreferrer noopener"
          class="underline"
          data-umami-event="Registration Terms of Use Clicked"
          >terms of use</a
        >
        and the
        <a
          href="https://www.ghga.de/data-protection"
          target="_blank"
          rel="noreferrer noopener"
          class="underline"
          data-umami-event="Registration Privacy Policy Clicked"
        >
          privacy policy</a
        >.
      </mat-checkbox>
    </p>
    <div class="flex flex-wrap gap-2">
      <div class="basis-full sm:basis-auto">
        <button
          mat-stroked-button
          class="w-full sm:w-auto"
          (click)="cancel()"
          data-umami-event="Registration Cancel Clicked"
        >
          Cancel and log out
        </button>
      </div>
      <div class="basis-full sm:basis-auto">
        <button
          mat-raised-button
          class="w-full sm:w-auto"
          (click)="register()"
          [disabled]="!accepted"
          data-umami-event="Registration Submit Clicked"
        >
          {{ u?.id ? 'Confirm' : 'Register' }}
        </button>
      </div>
    </div>
  }
}
