@if (hasError()) {
  <p class="text-base">There was an error retrieving your granted access requests.</p>
} @else {
  @if (isLoading()) {
    <app-stencil></app-stencil>
  } @else {
    @let req = grantedRequests();
    @if (req.length === 0) {
      <p class="text-base">You do not yet have access to any datasets.</p>
    } @else {
      <p class="text-base">You have the following granted access requests:</p>
      <ul>
        @for (grantedRequest of req; track grantedRequest.request.id) {
          @let request = grantedRequest.request;
          <li [hidden]="grantedRequest.isExpired">
            For the dataset
            <a routerLink="/dataset/{{ request.dataset_id }}">{{
              request.dataset_id
            }}</a>
            from {{ request.access_starts | date }} to
            {{ request.access_ends | date }} &ndash;
            <span class="font-bold">{{ grantedRequest.daysRemaining }}</span> days left.
          </li>
        }
      </ul>
    }
  }
}
