@if (hasError()) {
  <p class="text-base">There was an error retrieving your granted access requests.</p>
} @else {
  @if (isLoading()) {
    <app-stencil></app-stencil>
  } @else {
    @let requests = grantedRequests();
    @if (requests.length === 0) {
      <p class="text-base">You do not yet have access to any datasets.</p>
    } @else {
      <p class="text-base">You have the following granted access requests:</p>
      <ul>
        @for (grantedRequest of requests; track grantedRequest.request.dataset_id) {
          @let request = grantedRequest.request;
          <li>
            For the dataset
            <a
              class="text-quaternary hover:text-secondary focus:text-secondary"
              routerLink="/dataset/{{ request.dataset_id }}"
              data-umami-event="Granted Access Requests List Dataset Clicked"
              >{{ request.dataset_id }}</a
            >
            from {{ request.access_starts | date: friendlyDateFormat }} to
            {{ request.access_ends | date: friendlyDateFormat }} &ndash;
            <span class="font-bold">{{ grantedRequest.daysRemaining }}</span> days left.
            <app-access-request-note [request]="request" [noteTypes]="types_of_notes" />
          </li>
        }
      </ul>
      <button
        routerLink="/work-package"
        mat-raised-button
        class="raised-button-quaternary mt-8"
        data-umami-event="Granted Access Requests List Download Clicked"
      >
        <mat-icon>download</mat-icon>Set up a download token
      </button>
    }
  }
}
