<p>
  The GHGA Data Portal is a secure national infrastructure for human omics data
  available under controlled access. Access to the archived data can be requested from
  the data controllers who are responsible for evaluating the data access request.<br />The
  datasets within are annotated following the GHGA Metadata Model, which is compatible
  with the metadata model of the EGA.<br />
  For further documentation, please visit the GHGA User Documentation.
</p>
<p>
  GHGA is a national infrastructure to enable the FAIR and secure sharing of genetic and
  other human omics data. It is embedded in European activities such as the federated
  European Genome-Phenome Archive (FEGA) and the European Genomic Data Infrastructure
  (GDI).<br />GHGA is funded by the Deutsche Forschungsgemeinschaft (DFG, German
  Research Foundation, Grant Number 441914366) as part of the National Research Data
  Infrastructure initiative (NFDI) and by the contributing institutions.<br />More at
  www.ghga.de.
</p>
<!-- TODO: this is just for testing MSW, remove it later  -->
<pre style="white-space: pre-wrap">
  {{ stats() }}
</pre>
