<div>
  <h2 mat-dialog-title>Access Request Detail</h2>
  <mat-dialog-content>
    <div class="grid grid-cols-1 gap-2 lg:grid-cols-2">
      <div class="my-2 flex flex-col items-start gap-2">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Request & Dataset</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table class="w-full">
              <tbody>
                <app-access-request-field-edit
                  [request]="data"
                  name="ticket_id"
                  label="Ticket ID"
                  (saved)="saved($event)"
                  (edited)="edited($event)"
                  class="contents"
                ></app-access-request-field-edit>
                <tr>
                  <th>Dataset ID:</th>
                  <td>
                    <a
                      [href]="'/dataset/' + data.dataset_id"
                      target="_blank"
                      tabindex="-1"
                    >
                      {{ data.dataset_id }}
                      <mat-icon
                        role="img"
                        aria-hidden="true"
                        class="mat-icon material-symbols-outlined mat-icon-no-color no-translate h-4 w-4"
                        data-mat-icon-type="font"
                        >open_in_new</mat-icon
                      >
                    </a>
                  </td>
                </tr>
                <tr>
                  <th>Dataset title:</th>
                  <td>{{ data.dataset_title }}</td>
                </tr>
                <tr>
                  <th>Status:</th>
                  <td>
                    <strong class="{{ data.status | AccessRequestStatusClassPipe }}">{{
                      data.status
                    }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Access Timeline & Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table class="w-full">
              <tbody>
                <app-access-request-field-edit
                  [request]="data"
                  name="access_starts"
                  label="Access starts"
                  [isDate]="true"
                  (saved)="saved($event)"
                  (edited)="edited($event)"
                  class="contents"
                ></app-access-request-field-edit>
                <app-access-request-field-edit
                  [request]="data"
                  name="access_ends"
                  label="Access ends"
                  [isDate]="true"
                  (saved)="saved($event)"
                  (edited)="edited($event)"
                  class="contents"
                ></app-access-request-field-edit>
                <tr>
                  <th>Request details:</th>
                  <td class="max-h-38 overflow-y-auto">
                    @for (line of data.request_text | splitLines; track line) {
                      <p>{{ line }}</p>
                    }
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="text-on-surface-variant pt-1 text-sm">
              The request has been made on
              {{ data.request_created | date: friendlyDateFormat }}.
            </p>
            <p class="text-on-surface-variant pt-2 text-sm">
              Access has been requested from
              {{ data.access_starts | date: friendlyDateFormat }} until
              {{ data.access_ends | date: friendlyDateFormat }}.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>DAC & Requester</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table class="w-full">
              <tbody>
                <tr>
                  <th>Data Access Committee:</th>
                  <td>
                    <span class="italic">{{ data.dac_alias }}</span> -
                    <a [href]="'mailto:' + data.dac_email" tabindex="-1">{{
                      data.dac_email
                    }}</a>
                  </td>
                </tr>
                <tr>
                  <th>Requester:</th>
                  <td>
                    <span class="italic">{{ data.full_user_name }}</span> -
                    <a [href]="'mailto:' + data.email" tabindex="-1">{{
                      data.email
                    }}</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="my-2 flex flex-col items-start gap-2">
        <mat-card>
          <mat-card-header> <mat-card-title>Notes</mat-card-title> </mat-card-header>
          <mat-card-content>
            <table class="w-full">
              <tbody>
                <app-access-request-field-edit
                  [request]="data"
                  name="note_to_requester"
                  label="Note to requester"
                  (saved)="saved($event)"
                  (edited)="edited($event)"
                  class="contents"
                ></app-access-request-field-edit>
                <app-access-request-field-edit
                  [request]="data"
                  name="internal_note"
                  label="Internal note"
                  (saved)="saved($event)"
                  (edited)="edited($event)"
                  class="contents"
                ></app-access-request-field-edit>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Verification Address</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            @if (ivasAreLoading()) {
              <p>Loading verification addresses...</p>
            } @else if (ivasError() || !ivas().length) {
              <p>
                No corresponding verification addresses found, cannot process request.
              </p>
            } @else if (!changeable()) {
              @let iva = associatedIva();
              @if (iva) {
                <p>
                  The corresponding verification address is
                  {{ (iva.type | IvaTypePipe).name }}: {{ iva.value }} (<span
                    [class]="(iva.state | IvaStatePipe).class"
                    >{{ (iva.state | IvaStatePipe).name }}</span
                  >).
                </p>
              }
              <p>The status or address of this request cannot be changed any more.</p>
            } @else {
              <label for="iva-selection-group" class="mb-2 font-medium">
                @if (selectedIvaIdRadioButton()) {
                  If you wish to change the verification address used for this access
                  request, please select it below:
                } @else {
                  Please select the verification address that should be used to secure
                  the access request:
                }
              </label>
              <mat-radio-group
                [(ngModel)]="selectedIvaIdRadioButton"
                (ngModelChange)="saveIva()"
                id="iva-selection-group"
                class="iva-radio-group"
              >
                <table class="mt-2">
                  @for (iva of ivas(); track iva.id) {
                    <tr class="border-outline border-t-1 border-b-1">
                      <td class="py-1">
                        <mat-radio-button [value]="iva.id">
                          {{ (iva.type | IvaTypePipe).name }}: {{ iva.value }}
                        </mat-radio-button>
                      </td>
                      <td
                        [class]="(iva.state | IvaStatePipe).class"
                        class="w-40 py-2 ps-4 align-middle"
                      >
                        {{ (iva.state | IvaStatePipe).name }}
                      </td>
                    </tr>
                  }
                </table>
              </mat-radio-group>
            }
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="flex gap-x-2 gap-y-4 border-gray-500 pt-4">
    @if (ivasAreLoading() || ivasError() || !ivas().length || !changeable()) {
      <button
        mat-stroked-button
        (click)="cancel()"
        data-umami-event="Access Request Manager Close Clicked"
      >
        Close
      </button>
    } @else {
      <div class="w-full sm:w-auto">
        <button
          autoFocus
          mat-stroked-button
          class="w-full sm:w-auto"
          (click)="cancel()"
          data-umami-event="Access Request Manager Cancel Clicked"
        >
          Cancel
        </button>
      </div>
      <div class="flex-grow"></div>
      <div class="flex w-full flex-wrap gap-2 sm:w-auto sm:flex-nowrap">
        <div class="w-full sm:w-auto">
          <button
            mat-raised-button
            class="error w-full sm:w-auto"
            (click)="saveBeforeStatusChange('deny')"
            data-umami-event="Access Request Manager Deny Clicked"
            [disabled]="data.status === 'denied'"
          >
            @if (data.status === 'allowed') {
              Revoke access
            } @else {
              Deny
            }
          </button>
        </div>
        <div class="w-full sm:w-auto">
          <button
            mat-raised-button
            class="success w-full sm:w-auto"
            (click)="saveBeforeStatusChange('allow')"
            data-umami-event="Access Request Manager Allow Clicked"
            [disabled]="
              data.status === 'allowed' &&
              (!selectedIvaIdRadioButton() ||
                data.iva_id === selectedIvaIdRadioButton())
            "
          >
            @if (data.status === 'allowed') {
              Change address
            } @else {
              Allow
            }
          </button>
        </div>
      </div>
    }
  </mat-dialog-actions>
</div>
