<div class="w-full p-3">
  <h2 mat-dialog-title>Access Request Detail</h2>
  <mat-dialog-content>
    <table class="detail mb-4 w-full">
      @if (data.ticket_id) {
        <tr>
          <th class="pe-1 text-start">Relevant Issue:</th>
          <td>
            <a [href]="ticketUrl()" target="_blank" tabindex="-1"
              >{{ data.ticket_id
              }}<mat-icon
                role="img"
                aria-hidden="true"
                class="mat-icon material-symbols-outlined mat-icon-no-color no-translate h-4 w-4"
                data-mat-icon-type="font"
                >open_in_new</mat-icon
              ></a
            >
          </td>
        </tr>
      }
      <tr>
        <th class="pe-1 text-start">Dataset ID:</th>
        <td>{{ data.dataset_id }}</td>
      </tr>
      <tr>
        <th class="pe-1 text-start">Requester:</th>
        <td>{{ data.full_user_name }}</td>
      </tr>
      <tr>
        <th class="w-32 pe-1 text-start">Contact e-Mail:</th>
        <td>{{ data.email }}</td>
      </tr>
      <tr>
        <th class="pe-1 text-start align-top">Request details:</th>
        <td>{{ data.request_text }}</td>
      </tr>
    </table>
    <p>
      The request has been made on
      {{ data.request_created | date: friendlyDateFormat }}.
    </p>
    <p>
      Access has been requested from
      {{ data.access_starts | date: friendlyDateFormat }} until
      {{ data.access_ends | date: friendlyDateFormat }}.
    </p>
    <p class="mb-5">
      Access request is currently
      <strong class="{{ data.status | AccessRequestStatusClassPipe }}">{{
        data.status
      }}</strong
      >.
    </p>
    @if (ivasAreLoading()) {
      <p>Loading verification addresses...</p>
    } @else if (ivasError() || !ivas().length) {
      <p>No corresponding verification addresses found, cannot process request.</p>
    } @else if (!changeable()) {
      @let iva = associatedIva();
      @if (iva) {
        <p>
          The corresponding verification address is
          {{ (iva.type | IvaTypePipe).name }}: {{ iva.value }} (<span
            [class]="(iva.state | IvaStatePipe).class"
            >{{ (iva.state | IvaStatePipe).name }}</span
          >).
        </p>
      }
      <p>The status or address of this request cannot be changed any more.</p>
    } @else {
      <label for="iva-selection-group" class="text-lg">
        @if (selectedIvaIdRadioButton()) {
          If you wish to change the verification address used for this access request,
          please select it below:
        } @else {
          Please select the verification address that should be used to secure the
          access request:
        }
      </label>
      <mat-radio-group [(ngModel)]="selectedIvaIdRadioButton" id="iva-selection-group">
        <table class="ivas mt-2">
          @for (iva of ivas(); track iva.id) {
            <tr class="border-outline border-t-1 border-b-1">
              <td class="py-1">
                <mat-radio-button [value]="iva.id">
                  {{ (iva.type | IvaTypePipe).name }}: {{ iva.value }}
                </mat-radio-button>
              </td>
              <td [class]="(iva.state | IvaStatePipe).class" class="w-40 ps-4">
                {{ (iva.state | IvaStatePipe).name }}
              </td>
            </tr>
          }
        </table>
      </mat-radio-group>
    }
    <br />
  </mat-dialog-content>
  <mat-dialog-actions class="flex gap-x-2 gap-y-4">
    @if (ivasAreLoading() || ivasError() || !ivas().length || !changeable()) {
      <button
        mat-stroked-button
        (click)="cancel()"
        data-umami-event="Access Request Manager Close Clicked"
      >
        Close
      </button>
    } @else {
      <div class="w-full sm:w-auto">
        <button
          autoFocus
          mat-stroked-button
          class="w-full sm:w-auto"
          (click)="cancel()"
          data-umami-event="Access Request Manager Cancel Clicked"
        >
          Cancel
        </button>
      </div>
      <div class="flex-grow"></div>
      <div class="flex w-full flex-wrap gap-2 sm:w-auto sm:flex-nowrap">
        <div class="w-full sm:w-auto">
          <button
            mat-raised-button
            class="error w-full sm:w-auto"
            (click)="safeDeny()"
            data-umami-event="Access Request Manager Deny Clicked"
            [disabled]="data.status === 'denied'"
          >
            @if (data.status === 'allowed') {
              Revoke access
            } @else {
              Deny
            }
          </button>
        </div>
        <div class="w-full sm:w-auto">
          <button
            mat-raised-button
            class="success w-full sm:w-auto"
            (click)="safeAllow()"
            data-umami-event="Access Request Manager Allow Clicked"
            [disabled]="
              this.data.status === 'allowed' &&
              (!selectedIvaIdRadioButton() ||
                data.iva_id === selectedIvaIdRadioButton())
            "
          >
            @if (data.status === 'allowed') {
              Change address
            } @else {
              Allow
            }
          </button>
        </div>
      </div>
    }
  </mat-dialog-actions>
</div>
