@use '@angular/material' as mat;

a mat-icon {
  scale: 0.6;
  margin: 0 -5px 0 -3px;
  transform: translateY(3px);
  height: 16px;
  font-size: 18px;
}

mat-chip {
  @include mat.chips-overrides(
    (
      label-text-size: var(--mat-sys-label-small-size),
      label-text-line-height: 0px,
      container-height: 50%,
    )
  );
}

.edit-button mat-icon {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-primary),
    )
  );
}
.cancel-edit-button mat-icon {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-danger),
    )
  );
}
.save-edit-button mat-icon {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-success),
    )
  );
}
