<div class="w-full p-3">
  <h2 mat-dialog-title>Access Request Detail</h2>
  <mat-dialog-content>
    <table class="detail mb-4 w-full">
      <tr>
        <th class="pe-1 text-start">Dataset ID:</th>
        <td>{{ data.dataset_id }}</td>
      </tr>
      <tr>
        <th class="pe-1 text-start">Requester:</th>
        <td>{{ data.full_user_name }}</td>
      </tr>
      <tr>
        <th class="w-32 pe-1 text-start">Contact e-Mail:</th>
        <td>{{ data.email }}</td>
      </tr>
      <tr>
        <th class="pe-1 text-start align-top">Request details:</th>
        <td>{{ data.request_text }}</td>
      </tr>
    </table>
    <p>
      The request has been made on
      {{ data.request_created | date: friendlyDateFormat }}.
    </p>
    <p>
      Access has been requested from
      {{ data.access_starts | date: friendlyDateFormat }} until
      {{ data.access_ends | date: friendlyDateFormat }}.
    </p>
    <p class="mb-5">
      Access request is currently
      <strong class="{{ data.status | AccessRequestStatusClassPipe }}">{{
        data.status
      }}</strong
      >.
    </p>
    @if (ivasAreLoading()) {
      <p>Loading verification addresses...</p>
    } @else if (ivasError() || !ivas().length) {
      <p>No corresponding verification addresses found, cannot process request.</p>
    } @else {
      <label for="iva-selection-group" class="text-lg">
        @if (allowedAccessRequestIvaId()) {
          If you wish to change the verification address used for this access request,
          please select it below:
        } @else {
          Please select the verification address that should be used to secure the
          access request:
        }
      </label>
      <mat-radio-group [(ngModel)]="selectedIvaIdRadioButton" id="iva-selection-group">
        <table class="ivas mt-2">
          @for (iva of ivas(); track iva.id) {
            <tr>
              <td>
                <mat-radio-button [value]="iva.id">
                  {{ (iva.type | IvaTypePipe: iva.value).typeAndValue }}
                </mat-radio-button>
              </td>
              <td class="{{ (iva.state | IvaStatePipe).class }} w-40 ps-4">
                {{ (iva.state | IvaStatePipe).display }}
              </td>
            </tr>
          }
        </table>
      </mat-radio-group>
    }
    <br />
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="mr-2">
      <button
        mat-stroked-button
        (click)="cancel()"
        data-umami-event="Access Request Manager Cancel Clicked"
      >
        Cancel
      </button>
    </div>
    <div class="flex-grow"></div>
    <div class="ml-2">
      <button
        mat-raised-button
        class="error mr-1"
        (click)="safeDeny()"
        data-umami-event="Access Request Manager Deny Clicked"
        [disabled]="data.status === 'denied'"
      >
        @if (allowedAccessRequestIvaId()) {
          Revoke access
        } @else if (this.data.status === 'denied') {
          Denied
        } @else {
          Deny
        }
      </button>
      <button
        mat-raised-button
        class="success"
        (click)="safeAllow()"
        data-umami-event="Access Request Manager Allow Clicked"
        [disabled]="
          !selectedIvaIdRadioButton() ||
          (data.status === 'allowed' &&
            selectedIvaIdRadioButton() === allowedAccessRequestIvaId())
        "
      >
        @if (allowedAccessRequestIvaId()) {
          Change address
        } @else {
          Allow
        }
      </button>
    </div>
  </mat-dialog-actions>
</div>
