<ul class="ps-5">
  @for (
    item of data();
    track item.value;
    let idx = $index;
    let count = $count;
    let last = $last
  ) {
    <li>
      <mat-chip class="small-chip mb-0.5 text-xs"
        ><span class="uppercase">{{ item.value | underscoreToSpace }} </span>
        <strong>{{ item.count }}</strong></mat-chip
      >
    </li>
    @if (count > maxItems) {
      @if (idx === maxItems - 2) {
        <input type="checkbox" id="show_more" class="show_more hidden" />
        <label for="show_more" class="text-secondary underline"
          >Show {{ count - (maxItems - 1) }} more…</label
        >
      }
      @if (last) {
        <li>
          <label for="show_more" class="text-secondary underline">Show less…</label>
        </li>
      }
    }
  }
</ul>
