<mat-expansion-panel
  (opened)="panelExpansionChanged.emit(true)"
  (closed)="panelExpansionChanged.emit(false)"
  [expanded]="expanded()"
>
  <mat-expansion-panel-header
    ><mat-panel-title class="gap-x-1"
      ><span class="line-clamp-2 text-ellipsis">{{ facet().name }}</span
      ><span>({{ augmentedOptions().length }})</span></mat-panel-title
    ></mat-expansion-panel-header
  >
  @if (facet().options.length > maxOptionsBeforeFiltering) {
    <form (submit)="$event.preventDefault()">
      <mat-form-field class="w-full">
        <input
          type="search"
          matInput
          placeholder="Filter options"
          [aria-label]="`Filter ${facet().name} options`"
          [field]="filterForm.filterText"
        />
        <mat-icon matSuffix fontIcon="filter_alt"></mat-icon>
      </mat-form-field>
    </form>
  }
  <ul class="max-h-60 overflow-y-auto pb-1">
    @for (option of augmentedOptions(); track option.value) {
      @let name = `${facet().key}#${option.value}`;
      <li>
        <mat-checkbox
          [name]="name"
          class="w-full [&_div]:w-full [&_label]:w-full"
          (change)="optionSelected.emit($event)"
          [checked]="option.checked"
          [ariaLabel]="`${option.value} (${option.count} results)`"
          ><span class="flex w-full flex-nowrap gap-x-2"
            ><span class="grow">
              <span class="cdk-visually-hidden">{{ option.value }}</span>
              @for (text of option.withHighlights; track text) {
                <span [class.bg-yellow-300]="text.highlighted" aria-hidden="true">{{
                  text.text | underscoreToSpace
                }}</span>
              }</span
            ><span class="pe-2 text-gray-500">{{ option.count }}</span></span
          ></mat-checkbox
        >
      </li>
    }
  </ul>
</mat-expansion-panel>
@if (selectedOptions()!.length > 0) {
  <mat-chip-set class="chip-set-tertiary mt-2">
    @for (selectedOption of sortedSelectedOptions(); track selectedOption) {
      <mat-chip (removed)="optionRemoved.emit(facet().key + '#' + selectedOption)">
        {{ selectedOption | underscoreToSpace }}
        <button
          matChipRemove
          data-umami-event="Metadata Browser Facet Clear Clicked"
          [aria-label]="`Remove filter for ${(selectedOption | underscoreToSpace)}`"
        >
          <mat-icon fontIcon="cancel"></mat-icon>
        </button>
      </mat-chip>
    }
  </mat-chip-set>
}
