@font-face {
  font-family: 'material-symbols-outlined';
  font-style: normal;
  src: url(../fonts/MaterialSymbols/MaterialSymbolsOutlined.woff2) format('woff2');
}

@font-face {
  font-family: 'material-symbols-rounded';
  font-style: normal;
  src: url(../fonts/MaterialSymbols/MaterialSymbolsRounded.woff2) format('woff2');
}

@font-face {
  font-family: 'material-symbols-sharp';
  font-style: normal;
  src: url(../fonts/MaterialSymbols/MaterialSymbolsSharp.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'material-symbols-outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.material-symbols-rounded {
  font-family: 'material-symbols-rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.material-symbols-sharp {
  font-family: 'material-symbols-sharp';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
