<h1 class="text-center">
  <span class="text-3xl">User Account</span>
</h1>
<h2>
  <span class="flex text-2xl"
    >{{ fullName() }}
    @for (roleName of roleNames(); track roleName) {
      <mat-chip class="ms-2">{{ roleName }}</mat-chip>
    }
  </span>
</h2>

<mat-card appearance="outlined" class="my-4 p-2 text-primary">
  <mat-card-header>
    <mat-card-title>Email</mat-card-title>
    <mat-card-subtitle
      >Contact e-mail address taken from the LS Login account logged in
      with.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="my-4 text-base">
    <p class="text-base">
      We will communicate with you via this email address:
      <span class="font-bold">{{ email() }}</span>
    </p>
    <p>
      You can change this email address in your
      <a
        class="text-quaternary hover:text-secondary focus:text-secondary"
        href="https://profile.aai.lifescience-ri.eu/profile"
        target="_blank"
        rel="noreferrer noopener"
        data-umami-event="Account Email Change Clicked"
        >LS Login profile<mat-icon [inline]="true" class="align-middle"
          >open_in_new</mat-icon
        ></a
      >.
    </p>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined" class="my-4 p-2 text-primary">
  <mat-card-header>
    <mat-card-title>Contact addresses for account verification </mat-card-title>
    <mat-card-subtitle
      >Addresses used to verify your account's identity in order to access and request
      access to datasets.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="my-4 text-base">
    <app-user-iva-list></app-user-iva-list
  ></mat-card-content>
</mat-card>

<mat-card appearance="outlined" class="my-4 p-2 text-primary">
  <mat-card-header>
    <mat-card-title>Dataset Access</mat-card-title>
    <mat-card-subtitle
      >If you have been granted access to any datasets, these will appear below. In
      order to download data from these datasets (if you have been granted access to
      one), you will need to create download tokens through the respective button, which
      will take you to the download token management page.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="my-4 text-base">
    <app-granted-access-requests-list></app-granted-access-requests-list>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined" class="my-4 p-2 text-primary">
  <mat-card-header>
    <mat-card-title>Pending Access Requests</mat-card-title>
    <mat-card-subtitle
      >If you have any pending access requests to any datasets, these will appear below.
      Any request that is granted will be moved to the section above (Dataset Access).
      If an access request is denied, it will no longer be displayed here, and a new
      access request can be created by going to the desired dataset.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="my-4 text-base">
    <app-pending-access-requests-list></app-pending-access-requests-list>
  </mat-card-content>
</mat-card>
