@use '@angular/material' as mat;

a#activePage {
  background-color: var(--mat-sys-tertiary);
  color: var(--mat-sys-on-tertiary);
  mat-icon {
    color: var(--mat-sys-on-tertiary);
  }
}

a.mat-mdc-menu-item#activePage {
  background-color: var(--mat-sys-tertiary-fixed-dim);
  color: var(--mat-sys-on-tertiary-fixed);
  mat-icon {
    color: var(--mat-sys-on-tertiary-fixed);
  }
}

a.flex-row-reverse mat-icon {
  scale: 0.8;
  margin: 0 -5px 0 0;
}
