<button
  mat-button
  [matMenuTriggerFor]="menu"
  aria-label="Administration menu"
  [class.active-page]="isAdminRoute()"
  class="mx-1 flex-row-reverse"
>
  Admin <mat-icon fontIcon="arrow_drop_down"></mat-icon>
</button>
<mat-menu #menu="matMenu">
  <ul>
    <li>
      <a
        [class.active-sub-page]="isAccessRequestsManagerRoute()"
        mat-menu-item
        routerLink="/access-request-manager"
        class="mx-1"
        data-umami-event="Admin Menu Access Request Manager Clicked"
        ><mat-icon fontIcon="person_raised_hand"></mat-icon> Access Request Manager</a
      >
    </li>
    <li>
      <a
        [class.active-sub-page]="isAccessGrantManagerRoute()"
        mat-menu-item
        routerLink="/access-grant-manager"
        class="mx-1"
        data-umami-event="Admin Menu Access Grant Manager Clicked"
        ><mat-icon fontIcon="admin_panel_settings"></mat-icon> Access Grant Manager</a
      >
    </li>
    <li>
      <a
        [class.active-sub-page]="isIvaManagerRoute()"
        mat-menu-item
        routerLink="/iva-manager"
        class="mx-1"
        data-umami-event="Admin Menu IVA Manager Clicked"
        ><mat-icon fontIcon="contact_mail"></mat-icon> IVA Manager</a
      >
    </li>
    <li>
      <a
        [class.active-sub-page]="isUserManagerRoute()"
        mat-menu-item
        routerLink="/user-manager"
        class="mx-1"
        data-umami-event="Admin Menu User Manager Clicked"
        ><mat-icon fontIcon="people"></mat-icon> User Manager</a
      >
    </li>
  </ul>
</mat-menu>
