@use '@angular/material' as mat;

a {
  @include mat.button-overrides(
    (
      text-state-layer-color: var(--mat-sys-on-primary),
    )
  );
}

a[appExtLink].mdc-button::before {
  scale: 0.8;
  margin: 0;
}

a.activePage {
  background-color: var(--mat-sys-tertiary);
}
