<a
  [id]="route() === '' ? 'activePage' : ''"
  mat-button
  routerLink="/"
  class="homeLink mx-1"
  data-umami-event="Site Header Home Clicked"
  >Home</a
><a
  [id]="browseActive() ? 'activePage' : ''"
  mat-button
  routerLink="/browse"
  class="mx-1"
  data-umami-event="Site Header Browse Clicked"
  >Browse Data</a
>
<a
  appExtLink
  mat-button
  href="https://docs.ghga.de/faq/"
  class="mx-1 flex-row-reverse"
  data-umami-event="Site Header Open FAQ Clicked"
  >FAQ</a
>
<a
  appExtLink
  mat-button
  href="https://docs.ghga.de/"
  class="mx-1 flex-row-reverse"
  data-umami-event="Site Header Open Documentation Clicked"
  >Docs</a
><app-admin-menu></app-admin-menu>
