@if (isOpen()) {
  <div class="mb-2 flex items-center">
    <strong class="w-48 min-w-48 pb-1 text-start">Access duration:</strong>
    <div class="min-w-60 grow">
      <div class="flex items-center">
        <div class="flex grow gap-x-2">
          <mat-form-field class="w-40" hideRequiredMarker>
            <mat-label>Start date</mat-label>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="datepickerFrom"
            ></mat-datepicker-toggle>
            <input
              matInput
              [formControl]="fromFormControl"
              [matDatepicker]="datepickerFrom"
              [(ngModel)]="fromField"
              [min]="minFromDate"
              [max]="maxFromDate"
              (dateChange)="onDateSelected($event, true)"
              class="pr-8"
            />
            @if (fromFieldErrorMessage()) {
              <mat-error>{{ fromFieldErrorMessage() }}</mat-error>
            }
            <mat-datepicker #datepickerFrom></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="w-40" hideRequiredMarker>
            <mat-label>End date</mat-label>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="datepickerUntil"
            ></mat-datepicker-toggle>
            <input
              matInput
              [formControl]="untilFormControl"
              [matDatepicker]="datepickerUntil"
              [(ngModel)]="untilField"
              [min]="minUntilDate"
              [max]="maxUntilDate"
              (dateChange)="onDateSelected($event, false)"
              class="pr-8"
            />
            @if (untilFieldErrorMessage()) {
              <mat-error>{{ untilFieldErrorMessage() }}</mat-error>
            }
            <mat-datepicker #datepickerUntil></mat-datepicker>
          </mat-form-field>
        </div>
        <mat-chip
          class="smaller-chip interactive-chip cancel-edit-button mx-2 mb-1"
          (click)="cancel()"
          ><mat-icon>close</mat-icon></mat-chip
        >
        <mat-chip
          class="smaller-chip interactive-chip save-edit-button mb-1"
          (click)="save()"
          [disabled]="saveDisabled()"
          ><mat-icon>check</mat-icon></mat-chip
        >
      </div>
    </div>
  </div>
} @else {
  <p class="flex items-start">
    <strong class="min-w-48 pe-1 text-start align-middle">Access duration:</strong>
    <span class="flex min-w-60 grow items-center pb-1">
      <span class="grow">
        {{ fromField() | date: periodFormat : periodTimeZone }} until
        {{ untilField() | date: periodFormat : periodTimeZone }}
      </span>
      @if (!locked()) {
        <mat-chip
          (click)="open()"
          class="smaller-chip interactive-chip edit-button ms-2"
          ><mat-icon class="scale-[0.75]">edit</mat-icon>
        </mat-chip>
      }
    </span>
  </p>
}
