<h1 mat-dialog-title>Contact address verification</h1>
<div mat-dialog-content>
  <p class="mb-5 max-w-md">
    We sent a verification code to your selected contact address ({{ address() }}).
    Please enter it here:
  </p>
  <form defaultButton="submit-code" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Verification code</mat-label>
      <input
        type="text"
        cdkFocusInitial
        matInput
        [formControl]="codeControl"
        (input)="onInput()"
        maxlength="6"
      />
    </mat-form-field>
    <div>
      @if (
        !codeControl.valid &&
        codeControl.dirty &&
        codeControl.value &&
        codeControl.value.length >= 6
      ) {
        <mat-error>Please enter a valid verification code.</mat-error>
      }
    </div>
  </form>
</div>
<div mat-dialog-actions cdkTrapFocus>
  <button
    mat-button
    (click)="onCancel()"
    data-umami-event="Verification Dialog Cancel Clicked"
  >
    Cancel
  </button>
  <button
    id="submit-code"
    mat-raised-button
    [disabled]="!codeControl.valid"
    (click)="onSubmit()"
    data-umami-event="Verification Dialog Submit Clicked"
  >
    Submit
  </button>
</div>
