.status-denied {
  color: #dc2626;
}
.status-pending {
  color: #d97706;
}
.status-allowed {
  color: #16a34a;
}

tr[mat-row]:hover {
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: rgba(0, 0, 0, 0.05);
}
