<div
  class="mx-auto flex max-w-[1440px] flex-col gap-4 p-6"
  [style.view-transition-name]="showTransition ? 'detail' : null"
>
  <div class="justify-between md:flex">
    <header class="grow">
      <button
        mat-icon-button
        (click)="goBack()"
        data-umami-event="Access Grant Manager Back Link Clicked"
        aria-label="Go back to previous page"
        class="text-primary float-left mt-1 mr-4"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <h1>Access Grant Detail</h1>
    </header>
  </div>

  @if (grant(); as ag) {
    <div class="flex w-full items-center justify-between">
      <div>
        <p>
          <strong>Status:</strong>&nbsp;<span
            class="{{ ag?.status | AccessGrantStatusClassPipe }} capitalize w-24"
            >{{ ag.status }}</span
          >
        </p>

        <p>
          <strong>Dataset:</strong>&nbsp;<span class="w-24 capitalize"
            ><a
              routerLink="/dataset/{{ ag?.dataset_id }}"
              data-umami-event="Access Grant Details Dataset Clicked"
              >{{ ag?.dataset_id }}</a
            ></span
          >
        </p>
      </div>
      @if (ag.status === 'active') {
        <div class="w-64">
          <button
            mat-raised-button
            matTooltip="Revoke Access Grant"
            aria-label="Revoke Access Grant"
            (click)="openRevokeDialog()"
          >
            Revoke Access Grant
            <mat-icon>block</mat-icon>
          </button>
        </div>
      }
    </div>
    <div class="grid grid-cols-1 gap-4 xl:grid-cols-2">
      <div class="my-2 flex flex-col items-start gap-4">
        <mat-card class="w-full overflow-x-auto">
          <mat-card-header>
            <mat-card-title><h2>Requester</h2></mat-card-title>
          </mat-card-header>
          <mat-card-content class="min-w-2xl md:min-w-xl">
            <p>
              <strong class="inline-block w-44">Email:</strong>
              <a [href]="'mailto:' + ag.user_email" target="_blank" tabindex="-1"
                >{{ ag.user_email }}<mat-icon aria-hidden="true">open_in_new</mat-icon>
              </a>
            </p>
            <p>
              <strong class="inline-block w-44">Name:</strong>
              <a [routerLink]="'/user-manager/' + ag.user_id"
                >{{ ag.user_title }} {{ ag.user_name }}</a
              >
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card class="w-full overflow-x-auto">
          <mat-card-header>
            <mat-card-title><h2>DAC and Access Request</h2></mat-card-title>
          </mat-card-header>
          <mat-card-content class="min-w-2xl md:min-w-xl">
            <p>
              <strong class="inline-block w-44">DAC:</strong>
              <span>{{ ag.dac_alias }}</span>
            </p>
            <p>
              <strong class="inline-block w-44">DAC Email:</strong>
              <span
                ><a [href]="'mailto:' + ag.dac_email" target="_blank" tabindex="-1"
                  >{{ ag.dac_email }}<mat-icon aria-hidden="true">open_in_new</mat-icon>
                </a></span
              >
            </p>

            @switch (ar().length) {
              @case (0) {
                <p>
                  <span
                    ><span class="warn"
                      >No access request was matched for this grant!</span
                    ></span
                  >
                </p>
              }
              @case (1) {
                @let request = ar()[0];
                <p class="flex">
                  <strong class="inline-block min-w-44">Access Request:</strong>
                  <span
                    >for the dataset
                    <a
                      routerLink="/dataset/{{ request.dataset_id }}"
                      data-umami-event="Access Grant Details Access Requests List Dataset Clicked"
                      >{{ request.dataset_id }}</a
                    ><br />
                    from
                    {{
                      request.access_starts | date: friendlyDateFormat : periodTimeZone
                    }}
                    to
                    {{
                      request.access_ends | date: friendlyDateFormat : periodTimeZone
                    }}</span
                  >
                </p>
              }
              @default {
                <p>
                  <span
                    ><span class="warn"
                      >Warning: Found multiple requests by this user for this
                      dataset!</span
                    ></span
                  >
                </p>

                @for (request of ar(); track request.id) {
                  <p class="flex">
                    <strong class="inline-block w-44">Access Request:</strong>
                    <span
                      >For the dataset
                      <a
                        class="text-quaternary hover:text-secondary focus:text-secondary"
                        routerLink="/dataset/{{ request.dataset_id }}"
                        data-umami-event="Granted Access Requests List Dataset Clicked"
                        >{{ request.dataset_id }}</a
                      ><br />
                      from
                      {{
                        request.access_starts
                          | date: friendlyDateFormat : periodTimeZone
                      }}
                      to
                      {{
                        request.access_ends | date: friendlyDateFormat : periodTimeZone
                      }}.</span
                    >
                  </p>
                }
              }
            }
          </mat-card-content>
        </mat-card>
        <mat-card class="w-full overflow-x-auto">
          <mat-card-header>
            <mat-card-title><h2>IVA & Status</h2></mat-card-title>
          </mat-card-header>
          <mat-card-content class="min-w-2xl md:min-w-xl">
            <div class="mb-2 flex">
              <strong class="inline-block min-w-44">IVA ID:</strong>
              <span>{{ ag.iva_id }}</span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="my-2 flex flex-col items-start gap-4">
        <mat-card class="w-full overflow-x-auto">
          <mat-card-header>
            <mat-card-title><h2>Audit Log</h2></mat-card-title>
          </mat-card-header>
          <mat-card-content class="divide-outline divide-y">
            @if (ar().length === 1) {
              <p class="mb-2 pb-2">
                <strong class="inline-block w-44 xl:w-32">{{
                  ar()[0].request_created | date
                }}</strong>
                <span>Access requested</span>
              </p>
              @if (ar()[0].status_changed) {
                <p class="mb-2 pb-2">
                  <strong class="inline-block w-44 xl:w-32">{{
                    ar()[0].status_changed | date
                  }}</strong>
                  <span>Access granted</span>
                </p>
              }
            }
            <p class="mb-2 pb-2">
              <strong class="inline-block w-44 xl:w-32">{{ ag.created | date }}</strong>
              <span>Grant created</span>
            </p>
            @if (hasStarted()) {
              <p class="mb-2 pb-2">
                <strong class="inline-block w-44 xl:w-32">{{
                  ag.valid_from | date
                }}</strong>
                <span>Grant started</span>
              </p>
            }
            @if (hasEnded()) {
              <p class="mb-2 pb-2">
                <strong class="inline-block w-44 xl:w-32">{{
                  ag.valid_until | date
                }}</strong>
                <span>Grant expired</span>
              </p>
            }
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  } @else {
    <div class="container mx-auto p-6">
      <p class="text-center text-red-600">
        @if (!grant()) {
          The selected access grant could not be found.
        } @else {
          An error occurred while loading the access grant details. Please try again
          later.
        }
      </p>
    </div>
  }
</div>
