<div
  class="mx-auto max-w-[1440px] p-6"
  [style.view-transition-name]="showTransition ? 'detail' : null"
>
  <div class="clearfix mb-6">
    <button
      mat-icon-button
      (click)="goBack()"
      data-umami-event="Access Request Manager Back Link Clicked"
      aria-label="Go back to user list"
      class="text-primary float-left mt-1 mr-4"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <h1>Access Request Detail</h1>
  </div>
  @if (request(); as ar) {
    <div class="grid grid-cols-1 gap-3 xl:grid-cols-2">
      <div class="my-2 flex flex-col items-start gap-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Request & Dataset</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table class="w-full">
              <tbody>
                <app-access-request-field-edit
                  [request]="ar"
                  name="ticket_id"
                  label="Ticket ID"
                  (saved)="saved($event)"
                  (edited)="edited($event)"
                  class="contents"
                ></app-access-request-field-edit>
                <tr>
                  <th>Dataset ID:</th>
                  <td>
                    <a
                      [href]="'/dataset/' + ar.dataset_id"
                      target="_blank"
                      tabindex="-1"
                      >{{ ar.dataset_id
                      }}<mat-icon aria-hidden="true">open_in_new</mat-icon>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th>Dataset title:</th>
                  <td>{{ ar.dataset_title }}</td>
                </tr>
                <tr>
                  <th>Status:</th>
                  <td>
                    <strong class="{{ ar.status | AccessRequestStatusClassPipe }}">{{
                      ar.status
                    }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Access Timeline & Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table class="w-full">
              <tbody>
                <app-access-request-duration-edit
                  [request]="ar"
                  (saved)="saved($event)"
                  (edited)="edited($event)"
                  class="contents"
                ></app-access-request-duration-edit>
                <tr>
                  <th>Request details:</th>
                  <td class="max-h-38 overflow-y-auto">
                    @for (
                      line of ar.request_text | splitLines;
                      track line;
                      let last = $last
                    ) {
                      <p [class.last]="last">{{ line }}</p>
                    }
                  </td>
                </tr>
                <tr>
                  <th>Requested:</th>
                  <td>
                    {{ ar.request_created | date }}
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>DAC & Requester</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table class="w-full">
              <tbody>
                <tr>
                  <th>DAC:</th>
                  <td>
                    <span class="italic">{{ ar.dac_alias }}</span> -
                    <a [href]="'mailto:' + ar.dac_email" tabindex="-1">{{
                      ar.dac_email
                    }}</a>
                  </td>
                </tr>
                <tr>
                  <th>Requester:</th>
                  <td>
                    <span class="italic">{{ ar.full_user_name }}</span> -
                    <a [href]="'mailto:' + ar.email" tabindex="-1">{{ ar.email }}</a>
                  </td>
                </tr>
                <tr>
                  <th>LS ID:</th>
                  <td>
                    @if (userExtId.isLoading()) {
                      <em class="text-gray-400">Loading...</em>
                    } @else if (userExtId.error() || !userExtId.value()) {
                      <em class="text-red-600">could not be retrieved</em>
                    } @else {
                      <code class="text-base"
                        >{{ userExtId.value()!.split('@', 2).join('\u200B@') }}
                      </code>
                    }
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="my-2 flex flex-col items-start gap-3">
        <mat-card>
          <mat-card-header> <mat-card-title>Notes</mat-card-title> </mat-card-header>
          <mat-card-content>
            <table class="w-full">
              <tbody>
                <app-access-request-field-edit
                  [request]="ar"
                  name="note_to_requester"
                  label="Note to requester"
                  (saved)="saved($event)"
                  (edited)="edited($event)"
                  class="contents"
                ></app-access-request-field-edit>
                <app-access-request-field-edit
                  [request]="ar"
                  name="internal_note"
                  label="Internal note"
                  (saved)="saved($event)"
                  (edited)="edited($event)"
                  class="contents"
                ></app-access-request-field-edit>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Verification Address</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            @if (ivasAreLoading()) {
              <p>Loading verification addresses...</p>
            } @else if (ivasError() || !ivas().length) {
              <p>
                No corresponding verification addresses found, cannot process request.
              </p>
            } @else if (!changeable()) {
              @let iva = associatedIva();
              @if (iva) {
                <p>
                  The corresponding verification address is
                  {{ (iva.type | IvaTypePipe).name }}: {{ iva.value }} (<span
                    [class]="(iva.state | IvaStatePipe).class"
                    >{{ (iva.state | IvaStatePipe).name }}</span
                  >).
                </p>
              }
              <p>The status or address of this request cannot be changed any more.</p>
            } @else if (ivas().length === 1) {
              @let iva = ivas()[0];
              <p>
                The user has only one verification address. It will be the address used
                to secure this access request:
              </p>
              <div class="mt-2 overflow-x-auto">
                <div class="flex min-w-md items-center">
                  <div class="grow py-1 ps-4">
                    {{ (iva.type | IvaTypePipe).name }}: {{ iva.value }}
                  </div>
                  <div
                    [class]="(iva.state | IvaStatePipe).class"
                    class="w-48 flex-shrink-0 py-2 ps-4 align-middle"
                  >
                    {{ (iva.state | IvaStatePipe).name }}
                  </div>
                </div>
              </div>
            } @else {
              <label for="iva-selection-group">
                @if (selectedIvaIdRadioButton()) {
                  The user has already specified a preferred verification address to use
                  for this access request. If you wish to change it, please select it
                  below:
                } @else {
                  Please select the verification address that should be used to secure
                  the access request:
                }
              </label>
              <mat-radio-group
                [(ngModel)]="selectedIvaIdRadioButton"
                (ngModelChange)="saveIva()"
                id="iva-selection-group"
                class="iva-radio-group"
              >
                <div
                  class="divide-outline mt-2 flex flex-col divide-y-1 overflow-x-auto"
                >
                  @for (iva of ivas(); track iva.id) {
                    <div class="flex min-w-md items-center">
                      <div class="grow py-1">
                        <mat-radio-button [value]="iva.id">
                          <span class="text-base"
                            >{{ (iva.type | IvaTypePipe).name }}: {{ iva.value }}</span
                          >
                        </mat-radio-button>
                      </div>
                      <div
                        [class]="(iva.state | IvaStatePipe).class"
                        class="w-48 flex-shrink-0 py-2 ps-4 align-middle"
                      >
                        {{ (iva.state | IvaStatePipe).name }}
                      </div>
                    </div>
                  }
                </div>
              </mat-radio-group>
            }
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="mt-8 flex">
      @if (ivasAreLoading() || ivasError() || !ivas().length || !changeable()) {
        <button
          mat-stroked-button
          (click)="goBack()"
          data-umami-event="Access Request Manager Back Button Clicked"
        >
          Back
        </button>
      } @else {
        <div class="w-full sm:w-auto">
          <button
            autoFocus
            mat-stroked-button
            class="w-full sm:w-auto"
            (click)="goBack()"
            data-umami-event="Access Request Manager Back Button Clicked"
          >
            Back
          </button>
        </div>
        <div class="flex-grow"></div>
        <div class="flex w-full flex-wrap gap-2 sm:w-auto sm:flex-nowrap">
          <div class="w-full sm:w-auto">
            <button
              mat-raised-button
              class="error w-full sm:w-auto"
              (click)="saveBeforeStatusChange('deny')"
              data-umami-event="Access Request Manager Deny Clicked"
              [disabled]="ar.status === 'denied'"
            >
              @if (ar.status === 'allowed') {
                Revoke access
              } @else {
                Deny
              }
            </button>
          </div>
          <div class="w-full sm:w-auto">
            <button
              mat-raised-button
              class="success w-full sm:w-auto"
              (click)="saveBeforeStatusChange('allow')"
              data-umami-event="Access Request Manager Allow Clicked"
              [disabled]="
                ar.status === 'allowed' &&
                (!selectedIvaIdRadioButton() ||
                  ar.iva_id === selectedIvaIdRadioButton())
              "
            >
              @if (ar.status === 'allowed') {
                Change address
              } @else {
                Allow
              }
            </button>
          </div>
        </div>
      }
    </div>
  } @else if (loading()) {
    <p>Loading request details...</p>
  } @else {
    <div class="container mx-auto p-6">
      <p class="text-center text-red-600">
        @if (error() === 'not found') {
          The selected access request could not be found.
        } @else {
          An error occurred while loading the access request details. Please try again
          later.
        }
      </p>
    </div>
  }
</div>
