@use '@angular/material' as mat;

mat-chip-set.filter-chips mat-chip {
  @include mat.chips-overrides(
    (
      outline-color: var(--mat-sys-tertiary),
      label-text-color: var(--mat-sys-tertiary),
      with-trailing-icon-trailing-icon-color: var(--mat-sys-tertiary),
    )
  );
}

button.toggle-filters {
  @include mat.button-overrides(
    (
      outlined-outline-color: var(--mat-sys-primary),
      outlined-label-text-color: var(--mat-sys-primary),
    )
  );
}
