<div class="grid grid-cols-12 grid-rows-none gap-x-5">
  <div class="col-span-9 col-start-4">
    <div class="flex w-full justify-between pb-4">
      <mat-chip-set aria-label="search and filters" class="filter-chips">
        @if (lastSearchQuery() !== '') {
          <mat-chip (removed)="clearSearchQuery()">
            Keyword: {{ lastSearchQuery() }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button></mat-chip
          >
        }
        @for (facet of facets(); track facet.key) {
          @if (lastSearchFilterFacets()[facet.key]) {
            @for (option of facet.options; track option.value) {
              @if (lastSearchFilterFacets()[facet.key].indexOf(option.value) !== -1) {
                <mat-chip (removed)="removeFacet(facet.key + '#' + option.value)">
                  {{ facet.name }}: {{ option.value }}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
              }
            }
          }
        }
      </mat-chip-set>
      <mat-chip-set>
        <mat-chip>
          <div class="flex content-around">
            <span class="mr-1">Total Datasets:</span>

            @if (loading()) {
              <mat-spinner
                class="inline-block"
                class="mt-0.5"
                [diameter]="15"
              ></mat-spinner>
            } @else {
              <span>{{ numResults() }}</span>
            }
          </div>
        </mat-chip>
      </mat-chip-set>
    </div>
  </div>
  <aside class="col-span-3">
    <div class="rounded-lg border p-3">
      <form [formGroup]="searchFormGroup" (keydown.enter)="$event.preventDefault()">
        <mat-form-field class="w-full">
          <input
            type="search"
            matInput
            placeholder="Search"
            name="searchTerm"
            [formControl]="searchFormControl"
            (keyup.enter)="submit($event)"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        @if (loading()) {
          @for (i of [1, 2]; track i) {
            <div class="w-1/2">
              <app-stencil></app-stencil>
            </div>
            <ul class="mb-5 mt-1 rounded-lg border">
              @for (j of [1, 2]; track j) {
                <li>
                  <app-stencil></app-stencil>
                </li>
              }
            </ul>
          }
        } @else {
          @for (facet of facets(); track facet.key) {
            <div>
              {{ facet.name }}
              <ul class="mb-5 mt-1 rounded-lg border">
                @for (option of facet.options; track option.value) {
                  <li>
                    <mat-checkbox
                      name="{{ facet.key }}#{{ option.value }}"
                      (change)="onFacetFilterChanged($event)"
                      [checked]="
                        facet.key + '#' + option.value | facetActivity: facetData
                      "
                      >{{ option.value }} ({{ option.count }})</mat-checkbox
                    >
                  </li>
                }
              </ul>
            </div>
          }
        }
        <div class="mt-8 grid grid-cols-2 gap-5">
          <button mat-stroked-button (click)="clear($event)">Clear</button>
          <button mat-flat-button (click)="submit($event)" type="submit">Filter</button>
        </div>
      </form>
    </div>
  </aside>
  <div class="col-span-9 col-start-4">
    <app-search-result-list (paginate)="paginate($event)"></app-search-result-list>
  </div>
</div>
