<div class="grid grid-cols-12 grid-rows-none gap-5">
  <div class="col-span-9 col-start-4">
    <mat-chip class="float-right">Total Datasets: {{ searchResults().count }}</mat-chip>
  </div>
  <aside class="col-span-3">
    <div class="rounded-lg border p-3">
      <form>
        <mat-form-field class="w-full">
          <input type="search" matInput placeholder="Search" />
        </mat-form-field>
        @for (facet of searchResults().facets; track facet.key) {
          <div>
            {{ facet.name }}
            <ul class="mb-5 mt-1 rounded-lg border">
              @for (option of facet.options; track option.value) {
                <li>
                  <mat-checkbox>{{ option.value }} ({{ option.count }})</mat-checkbox>
                </li>
              }
            </ul>
          </div>
        }
        <div class="mt-8 grid grid-cols-2 gap-5">
          <button mat-stroked-button>Clear</button>
          <button mat-flat-button type="submit">Filter</button>
        </div>
      </form>
    </div>
  </aside>

  <div class="col-span-9">
    <div class="mb-4 grid grid-cols-12 bg-primary px-6 py-2 text-white">
      <span class="col-span-2">Dataset ID</span><span class="col-span-10">Title</span>
    </div>
    <mat-accordion multi>
      @for (hit of searchResults().hits; track hit.id_) {
        <app-dataset-expansion-panel [hit]="hit" />
      }
    </mat-accordion>

    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="length()"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 50]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
