@use '@angular/material' as mat;

button {
  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-on-primary),
      state-layer-color: var(--mat-sys-on-primary),
    )
  );
}

.with-initials {
  background-color: var(--mat-sys-tertiary);
  padding: 0;
  padding-top: 1px;
  font-size: 18px;
}
