@if (isAuthenticated()) { @let initials = name() | initials;
<button
  mat-icon-button
  class="button-on-primary"
  [class.with-initials]="initials"
  [matMenuTriggerFor]="menu"
  aria-label="Account"
  matTooltip="Your GHGA account"
>
  @if (initials) {
  <span aria-hidden="true">{{ initials }}</span>
  } @else {
  <mat-icon fontIcon="account_circle"></mat-icon>
  }
</button>
<mat-menu #menu="matMenu" class="p-3">
  <h4>Hello, {{ fullName() || 'User' }}!</h4>
  @if (roleNames().length) {
  <p>You are logged in as a {{ roleNames()[0] }}.</p>
  }
  <button
    (click)="gotoAccount()"
    mat-menu-item
    data-umami-event="Account Button Menu Account Clicked"
  >
    <mat-icon class="button-secondary" fontIcon="account_circle"></mat-icon>
    <span class="text-secondary">Your GHGA account page</span>
  </button>
  <button
    (click)="manageLsLogin()"
    mat-menu-item
    arial-label="Manage LS Login account (in new tab)"
    data-umami-event="Account Button Menu LS Login Clicked"
  >
    <mat-icon class="button-quaternary" fontIcon="open_in_new"></mat-icon>
    <span class="text-quaternary">Manage LS Login account</span>
  </button>
  <button
    (click)="onLogout()"
    mat-menu-item
    data-umami-event="Account Button Menu Logout Clicked"
  >
    <mat-icon class="button-tertiary" fontIcon="logout"></mat-icon>
    <span class="text-tertiary">Log out</span>
  </button>
</mat-menu>
} @else if (isLoggedIn()) {
<button
  mat-icon-button
  class="button-on-primary"
  [matMenuTriggerFor]="menu"
  aria-label="Log out"
  matTooltip="Log out from the GHGA portal"
  data-umami-event="Account Button Log Out Clicked"
>
  <mat-icon fontIcon="logout"></mat-icon>
</button>
<mat-menu #menu="matMenu" class="p-3">
  <h2>Logout</h2>
  <p>
    You need to complete your {{ ongoingProcess() }} with the GHGA Data Portal before
    you can start using your account.
  </p>
  <button
    (click)="continue()"
    mat-menu-item
    data-umami-event="Account Button Menu Continue Clicked"
  >
    <mat-icon class="button-quaternary" fontIcon="arrow_forward"></mat-icon>
    <span class="text-quaternary">Complete {{ ongoingProcess() }} </span>
  </button>
  <button
    (click)="onLogout()"
    mat-menu-item
    data-umami-event="Account Button Menu Cancel Clicked"
  >
    <mat-icon class="button-quaternary" fontIcon="logout"></mat-icon>
    <span class="text-quaternary">Cancel and log out</span>
  </button>
</mat-menu>
} @else {
<button
  mat-icon-button
  class="button-on-primary"
  [matMenuTriggerFor]="menu"
  aria-label="Log in"
  matTooltip="Log in to the GHGA portal"
>
  <mat-icon fontIcon="login"></mat-icon>
</button>
<mat-menu #menu="matMenu" class="px-3 py-1">
  <h2>Login</h2>
  <p class="mb-3 text-xs">
    You can browse our datasets without an account, but if you wish to access research
    data, you must log in to the portal via LS Login.
  </p>
  <p class="mb-4 text-xs">
    LS Login lets you authenticate using existing third party accounts (from a home
    university, research institute or a commercial service) and link it to your LS ID.
    Alternatively, you can also activate an LS account with username and password.
  </p>
  <button
    (click)="onLogin()"
    mat-menu-item
    matTooltip="Log in via LS Login"
    data-umami-event="Account Button Menu LS Login Clicked"
  >
    <mat-icon class="button-quaternary" fontIcon="login"></mat-icon>
    <img
      ngSrc="assets/images/ls-login.png"
      alt="LS Login"
      class="my-2"
      width="200"
      height="50"
    />
  </button>
</mat-menu>
}
