@import 'tailwindcss';

@theme {
  --color-primary: var(--mat-sys-primary);
  --color-secondary: var(--mat-sys-secondary);
  --color-tertiary: var(--mat-sys-tertiary);
  --color-quaternary: var(--mat-sys-quaternary);
  --color-quinary: var(--mat-sys-quinary);
  --color-outline: var(--mat-sys-outline);
  --color-error: var(--mat-sys-error);
  --color-danger: var(--color-orange-600);
  --color-warning: var(--color-amber-600);
  --color-success: var(--color-green-600);
  --color-info: var(--color-indigo-600);
}
