// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use './assets/scss/ghga-colors';
@use './assets/scss/material-symbols';
@use './assets/scss/fontawesome';
@use './assets/scss/fontawesome-brands';

// Add Tailwind CSS
@use 'tailwind';

hr {
  border-color: var(--color-outline, --color-gray-200);
}

.border {
  border-color: var(--color-outline, --color-gray-200);
}

// Add Lexend font
@font-face {
  font-family: 'Lexend';
  src:
    local('Lexend'),
    url(./assets/fonts/Lexend.ttf) format('truetype');
}
// Add Monospaced font (Illinois) based on Lexend
@font-face {
  font-family: 'Illinois';
  src:
    local('Illinois'),
    url(./assets/fonts/Illinois_Mono_Regular.ttf) format('truetype');
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: ghga-colors.$primary-palette,
        tertiary: ghga-colors.$tertiary-palette,
      ),
      typography: Lexend,
    )
  );
  @include mat.button-overrides(
    (
      filled-container-color: var(--mat-sys-tertiary),
      text-label-text-size: medium,
      filled-label-text-size: medium,
      outlined-label-text-size: medium,
      outlined-outline-color: var(--mat-sys-quaternary),
      outlined-label-text-color: var(--mat-sys-quaternary),
      protected-label-text-size: medium,
      protected-container-color: var(--mat-sys-tertiary),
      protected-label-text-color: var(--mat-sys-on-primary),
    )
  );
}

:root {
  --mat-sys-primary: #00393f;
  --mat-sys-secondary: #005a5a;
  --mat-sys-tertiary: #e84614;
  --mat-sys-quaternary: #007e8c;
  --mat-sys-quinary: #cfe7cd;
}

html,
body {
  height: 100%;
  font-size: 16px;
  margin: 0;
  font-family: Lexend, 'Segoe UI', 'Helvetica Neue', sans-serif;
}

p {
  margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--mat-sys-primary);
}

h1 {
  font-weight: 550;
  font-size: 175%;
  margin-bottom: 0.8em;
  line-height: 130%;
}

h2 {
  font-weight: 550;
  font-size: 140%;
  margin-bottom: 0.75em;
  line-height: 120%;
}

h3 {
  font-weight: 550;
  font-size: 130%;
  margin-bottom: 0.7em;
  line-height: 110%;
}

h4 {
  font-weight: 550;
  font-size: 120%;
  margin-bottom: 0.7em;
}

h5 {
  font-weight: 600;
  font-size: 110%;
  margin-bottom: 0.7em;
}

h6 {
  font-weight: 650;
  font-size: 105%;
  margin-bottom: 0.7em;
}

main a {
  color: var(--mat-sys-tertiary);
  text-decoration: underline;
  &:hover {
    color: var(--mat-sys-quaternary);
  }
}

.mat-mdc-snack-bar-container {
  &.snackbar-ok .mat-mdc-snackbar-surface {
    background-color: #32cd32;
    color: var(--mat-sys-on-primary);
    .mat-icon {
      color: var(--mat-sys-on-primary);
      opacity: 0.75;
    }
  }
  &.snackbar-info .mat-mdc-snackbar-surface {
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    .mat-icon {
      color: var(--mat-sys-on-surface);
      opacity: 0.75;
    }
  }
  &.snackbar-warn .mat-mdc-snackbar-surface {
    background-color: var(--mat-sys-tertiary-fixed-dim);
    color: var(--mat-sys-on-tertiary-fixed);
    .mat-icon {
      color: var(--mat-sys-on-tertiary-fixed);
      opacity: 0.75;
    }
  }
  &.snackbar-error .mat-mdc-snackbar-surface {
    background-color: var(--mat-sys-error);
    color: var(--mat-sys-on-error);
    .mat-icon {
      color: var(--mat-sys-on-error);
      opacity: 0.75;
    }
  }
}

.small-chips span .mat-mdc-chip-action {
  padding: 0 6px;
}

.mat-mdc-card.mat-mdc-card-outlined.error {
  background-color: var(--mat-sys-error-container);
  color: var(--mat-sys-on-error-container);
  border-color: var(--mat-sys-error);
}

button.success {
  @include mat.button-overrides(
    (
      filled-container-color: #172,
      protected-container-color: #172,
      filled-label-text-color: var(--mat-sys-on-secondary),
    )
  );
}

button.error {
  @include mat.button-overrides(
    (
      filled-container-color: #c11,
      protected-container-color: #c11,
      filled-label-text-color: var(--mat-sys-on-secondary),
    )
  );
}

.raised-button-quaternary {
  @include mat.button-overrides(
    (
      protected-container-color: var(--mat-sys-quaternary),
    )
  );
}
