<div class="w-full sm:p-8">
  <h2 mat-dialog-title>
    <span class="fa-file-download"></span>Request access for dataset {{ data.datasetID
    }}
  </h2>
  <mat-dialog-content>
    <mat-form-field class="mt-4 w-full">
      <mat-label>Details about your request</mat-label>
      <textarea
        matInput
        placeholder="I need access for research on..."
        [formControl]="descriptionFormControl"
        (blur)="updateDescriptionErrorMessage()"
        #details
        required
      ></textarea>
      @if (descriptionErrorMessage()) {
      <mat-error> {{ descriptionErrorMessage() }} </mat-error>
      }
    </mat-form-field>
    <mat-form-field class="mt-4 w-full">
      <mat-label>Access requested from</mat-label>
      <input
        matInput
        type="text"
        [formControl]="fromFormControl"
        [matDatepicker]="from_picker"
        [min]="minFromDate"
        [max]="maxFromDate"
        [(ngModel)]="fromDate"
        (dateInput)="fromDateChanged($event)"
        required
      />
      @if (fromDateErrorMessage()) {
      <mat-error> {{ fromDateErrorMessage() }} </mat-error>
      }
      <mat-hint>{{ dateInputFormatHint }}</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="from_picker"></mat-datepicker-toggle>
      <mat-datepicker #from_picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="mt-4 w-full">
      <mat-label>Access requested until</mat-label>
      <input
        matInput
        type="text"
        [formControl]="untilFormControl"
        [matDatepicker]="until_picker"
        [min]="minUntilDate"
        [max]="maxUntilDate"
        [(ngModel)]="untilDate"
        required
      />
      @if (untilDateErrorMessage()) {
      <mat-error> {{ untilDateErrorMessage() }} </mat-error>
      }
      <mat-hint>{{ dateInputFormatHint }}</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="until_picker"></mat-datepicker-toggle>
      <mat-datepicker #until_picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="mt-4 w-full">
      <mat-label>The contact email address to use for this request</mat-label>
      <input
        type="email"
        matInput
        placeholder="your.email@goes.here"
        #emailField
        [formControl]="emailFormControl"
        (blur)="updateEmailErrorMessage()"
        autocomplete="email"
        required
      />
      @if (emailFormControl.invalid) {
      <mat-error>{{ emailErrorMessage() }}</mat-error>
      }
    </mat-form-field>
    <div class="py-3">
      <aside class="text-danger bg-warning/15 rounded-xl p-3 text-sm">
        Note that most data access committees (DACs) require that access requests be
        associated with institutional email addresses rather than private ones. Please
        keep this in mind when selecting the email address to use for your request.
      </aside>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="gap-y-2">
    <button
      mat-stroked-button
      class="sm:mr-2"
      (click)="cancel()"
      data-umami-event="Create Access Request Cancel Clicked"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      [disabled]="submitDisabled()"
      (click)="submit()"
      data-umami-event="Create Access Request Submit Clicked"
    >
      Submit
    </button>
  </mat-dialog-actions>
</div>
