th {
  text-align: right;
  padding: 2px;
  padding-right: 4px;
  vertical-align: text-bottom;
}
td {
  padding: 2px;
  vertical-align: text-bottom;

  &.code {
    padding-top: 8px;
    padding-bottom: 16px;
    width: 100%;
    input {
      font-size: 150%;
      width: 6em;
      padding: 3px;
      background-color: var(--mat-sys-primary-container);
      color: var(--mat-sys-on-primary-container);
    }
  }
}
