@use '@angular/material' as mat;

mat-toolbar {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );
}

mat-toolbar-row div div {
  color: var(--mat-sys-inverse-primary);
  border-color: var(--mat-sys-inverse-primary);
}

a#activePage {
  background-color: var(--mat-sys-secondary);
}

button {
  --mat-sys-on-surface-variant: #fff;
  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-on-primary),
    )
  );
}

mat-toolbar-row div a:hover,
mat-toolbar-row div a:active {
  background-color: color-mix(in srgb, var(--mat-sys-primary) 100%, #fff 8%);
}

mat-toolbar-row div a:focus {
  background-color: color-mix(in srgb, var(--mat-sys-primary) 100%, #fff 12%);
}
