@use '@angular/material' as mat;

mat-toolbar {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );
}

// Tailwind classes do not override the Material classes, so we have to do it here
mat-toolbar-row {
  padding-left: 0;
  height: fit-content;
}

a#activePage {
  background-color: var(--mat-sys-tertiary);
}

mat-toolbar-row div a:hover,
mat-toolbar-row div a:active {
  background-color: color-mix(in srgb, var(--mat-sys-primary) 100%, #fff 8%);
}

mat-toolbar-row div a:focus {
  background-color: color-mix(in srgb, var(--mat-sys-primary) 100%, #fff 12%);
}

mat-nav-list a {
  @include mat.button-overrides(
    (
      text-state-layer-color: var(--mat-sys-on-primary),
    )
  );
}

mat-nav-list a mat-icon {
  scale: 0.8;
  margin: 0 -5px 0 0;
}
