@use '@angular/material' as mat;

.large-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
}

button.toggle-filters {
  @include mat.button-overrides(
    (
      outlined-outline-color: var(--mat-sys-primary),
      outlined-label-text-color: var(--mat-sys-primary),
    )
  );
}
